{
  "FILENAME": "keys.json",
  "DJANGO_SECRET_KEY": "secret-key",
  "ADMIN_PASSWORD": "transtats",
  "DATABASE_NAME": "transtats",
  "DATABASE_USER": "postgres",
  "DATABASE_PASSWORD": "postgres",
  "DATABASE_HOST": "localhost",
  "TS_AUTH_SYSTEM": "default",
  "OIDC_BASE_DOMAIN": "iddev.fedorainfracloud.org",
  "OIDC_RP_CLIENT_ID": "transtatsdev",
  "OIDC_RP_CLIENT_SECRET": "oidc-secret-key"
}
