{% load get_item from custom_tags %}

<div id="pf-list-simple-expansion" class="list-group list-view-pf list-view-pf-view">

 {% for pipeline in pipelines %}
      <div class="list-group-item">
        <div class="list-group-item-header">
          <div class="list-view-pf-expand">
            <span class="fa fa-angle-right"></span>
          </div>
          <!--<div class="list-view-pf-checkbox">-->
            <!--<input type="checkbox">-->
          <!--</div>-->
          <div class="list-view-pf-actions">
            <button class="btn btn-default">Details</button>
            <div class="dropdown pull-right dropdown-kebab-pf">
              <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebabRight9" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="fa fa-ellipsis-v"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownKebabRight9">
                <li><a href="#">Configure</a></li>
                <li><a href="#">View Logs</a></li>
                <!--<li><a href="#">Configure</a></li>-->
                <li role="separator" class="divider"></li>
                <li><a href="#">Remove</a></li>
              </ul>
            </div>
        </div>

          <div class="list-view-pf-main-info">
            <div class="list-view-pf-left">
              <span class="pficon pficon-automation list-view-pf-icon-sm"></span>
            </div>
            <div class="list-view-pf-body">
              <div class="list-view-pf-description">
                <div class="list-group-item-heading">
                  {{ pipeline.ci_project_details_json|get_item:"name" }}
                </div>
                <div class="list-group-item-text">
                  Pipeline UUID <a href="#">{{ pipeline.ci_pipeline_uuid }}</a>
                </div>
              </div>
              <div class="list-view-pf-additional-info">
                <div class="list-view-pf-additional-info-item">
                  <span class="pficon pficon-server"></span>
                  <a href="{{ pipeline.ci_project_web_url }}" target="_blank">{{ pipeline.ci_platform.engine_name|title }}</a>
                </div>
                <div class="list-view-pf-additional-info-item">
                  <span class="fa fa-bolt"></span>
                  <strong>{{ pipeline.ci_project_details_json|get_item:"progress"|get_item:"totalCount" }}</strong> Jobs
                </div>
                <div class="list-view-pf-additional-info-item">
                  <span class="pficon pficon-image"></span>
                  {{ pipeline.ci_release.release_name }}
                </div>
                <div class="list-view-pf-additional-info-item">
                  <span class="fa fa-refresh"></span>
                  Sync Status&nbsp;<span class="pficon pficon-ok"></span>
                </div>
              </div>
            </div>
          </div>
    </div>

    <div class="list-group-item-container container-fluid hidden">
      <div class="close">
        <span class="pficon pficon-close"></span>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div id="utilizationDonutChart11" class="example-donut-chart-utilization"></div>

          <div class="pct-donut-chart-pf example-donut-chart-utilization">
            <div class="pct-donut-chart-pf-chart">
              <div id="utilizationDonutChart12"></div>
            </div>
            <span class="pct-donut-chart-pf-label">
              Last Sync: <code>{% now "jS F Y H:i" %}</code>
            </span>
          </div>

          <div class="example-donut-chart-utilization">
            <span class="pct-donut-chart-pf pct-donut-chart-pf-left">
              <div class="pct-donut-chart-pf-chart">
                <div id="utilizationDonutChart13"></div>
              </div>
              <span class="pct-donut-chart-pf-label text-right">
                Next Sync: <code>{% now "jS F Y H:i" %}</code>
              </span>
            </span>
          </div>

          <div class="example-donut-chart-utilization">
            <span class="pct-donut-chart-pf pct-donut-chart-pf-right">
              <div class="pct-donut-chart-pf-chart">
                <div id="utilizationDonutChart14"></div>
              </div>
              <span class="pct-donut-chart-pf-label text-left">
                Polling Frequency: <b>Bi-Weekly</b>
              </span>
            </span>
          </div>

<script>
  var c3ChartDefaults = $().c3ChartDefaults();

  // Donut configuration 1
  var donutConfig1 = c3ChartDefaults.getDefaultDonutConfig('A');

  donutConfig1.bindto = '#utilizationDonutChart11';
  donutConfig1.data = {
    type: "donut",
    columns: [
      ["Used", 60],
      ["Available", 40],
    ],
    groups: [
      ["used", "available"]
    ],
    order: null
  };
  donutConfig1.size = {
    width: 180,
    height: 180
  };

  donutConfig1.tooltip = {
    contents: $().pfGetUtilizationDonutTooltipContentsFn('MHz')
  };

  c3.generate(donutConfig1);
  $().pfSetDonutChartTitle("#utilizationDonutChart11", "60", "MHz Used");

  // Donut configuration 2
  var donutConfig2 = c3ChartDefaults.getDefaultDonutConfig('A');

  donutConfig2.bindto = '#utilizationDonutChart12';
  donutConfig2.data = {
    type: "donut",
    columns: [
      ["Used", 60],
      ["Available", 40]
    ],
    groups: [
      ["used", "available"]
    ],
    order: null
  };
  donutConfig2.size = {
    width: 180,
    height: 180
  };

  donutConfig2.tooltip = {
    contents: $().pfGetUtilizationDonutTooltipContentsFn('MHz')
  };

  c3.generate(donutConfig2);
  $().pfSetDonutChartTitle("#utilizationDonutChart12", "60", "MHz Used");

  // Donut configuration 3
  var donutConfig3 = c3ChartDefaults.getDefaultDonutConfig('A');

  donutConfig3.bindto = '#utilizationDonutChart13';
  donutConfig3.data = {
    type: "donut",
    columns: [
      ["Used", 60],
      ["Available", 40]
    ],
    groups: [
      ["used", "available"]
    ],
    order: null
  };
  donutConfig3.size = {
    width: 140,
    height: 140
  };

  donutConfig3.tooltip = {
    contents: $().pfGetUtilizationDonutTooltipContentsFn('MHz')
  };

  c3.generate(donutConfig3);
  $().pfSetDonutChartTitle("#utilizationDonutChart13", "60", "MHz Used");

  // Donut configuration 4
  var donutConfig4 = c3ChartDefaults.getDefaultDonutConfig('A');

  donutConfig4.bindto = '#utilizationDonutChart14';
  donutConfig4.data = {
    type: "donut",
    columns: [
      ["Used", 60],
      ["Available", 40]
    ],
    groups: [
      ["used", "available"]
    ],
    order: null
  };
  donutConfig4.size = {
    width: 140,
    height: 140
  };

  donutConfig4.tooltip = {
    contents: $().pfGetUtilizationDonutTooltipContentsFn('MHz')
  };

  c3.generate(donutConfig4);
  $().pfSetDonutChartTitle("#utilizationDonutChart14", "60", "MHz Used");
</script>

</div>

        <div class="col-md-9">
          <dl class="dl-horizontal">
            <div class="row">
              <div class="col-md-6">
                <dt>CI Platform Project</dt>
                <dd>{{ pipeline.ci_project_details_json|get_item:"name" }}
                  &nbsp;&nbsp;<span class="text-info">{{ pipeline.ci_project_details_json|get_item:"uid" }}</span></dd>
                <dt>Target Languages</dt>
                <dd><code>{{ pipeline.ci_project_details_json|get_item:"targetLangs"|join:", " }}</code></dd>
                <dt>Created On</dt>
                <dd><span class="text-info">{{ pipeline.ci_project_details_json|get_item:"dateCreated" }}</span></dd>
                <dt>Status</dt>
                <dd>{{ pipeline.ci_project_details_json|get_item:"status" }}</dd>
              </div>
              <div class="col-md-4">
                <dt>Push Job Template</dt>
                <dd><code>{{ pipeline.ci_push_job_template.job_template_name }}</code></dd>
                <dt>Pull Job Template</dt>
                <dd><code>{{ pipeline.ci_pull_job_template.job_template_name }}</code></dd>
              </div>
            </div>
          </dl>
          <!--<p class="ts-pre">{{ pipeline.ci_project_details_json }}</p>-->
        </div>
      </div>
    </div>
  </div>


{% endfor %}

  <script>
    $(document).ready(function () {
      // Row Checkbox Selection
      $("#pf-list-simple-expansion input[type='checkbox']").change(function (e) {
        if ($(this).is(":checked")) {
          $(this).closest('.list-group-item').addClass("active");
        } else {
          $(this).closest('.list-group-item').removeClass("active");
        }
      });
      // toggle dropdown menu
      $("#pf-list-simple-expansion .list-view-pf-actions").on('show.bs.dropdown', function () {
        var $this = $(this);
        var $dropdown = $this.find('.dropdown');
        var space = $(window).height() - $dropdown[0].getBoundingClientRect().top - $this.find('.dropdown-menu').outerHeight(true);
        $dropdown.toggleClass('dropup', space < 10);
      });

      // click the list-view heading then expand a row
      $("#pf-list-simple-expansion .list-group-item-header").click(function(event){
        if(!$(event.target).is("button, a, input, .fa-ellipsis-v")){
          $(this).find(".fa-angle-right").toggleClass("fa-angle-down")
            .end().parent().toggleClass("list-view-pf-expand-active")
              .find(".list-group-item-container").toggleClass("hidden");
        } else {
        }
      })

      // click the close button, hide the expand row and remove the active status
      $("#pf-list-simple-expansion .list-group-item-container .close").on("click", function (){
        $(this).parent().addClass("hidden")
          .parent().removeClass("list-view-pf-expand-active")
            .find(".fa-angle-right").removeClass("fa-angle-down");
      })

    });
  </script>
</div>
