{% extends "ci/pipeline_details_base.html" %}
{% load custom_tags %}

{% block extrascript %}
<script>
  $(document).ready(function(){

    $("#li-push").addClass('active');

    var selector = '#sub-ul li';
    $(selector).on('click', function(){
        $(selector).removeClass('active');
        console.log(this.innerHTML);
        $(this).addClass('active');
    });

  });
</script>
{% endblock %}

{% block pipeline-heading %}
  {% if ci_pipeline.ci_project_details_json|get_item:"name" %}
    <small class="pull-right">
     <a href="{{ ci_pipeline.ci_project_web_url }}" target="_blank">
       {{ ci_pipeline.ci_project_details_json|get_item:"name" }}</a>&nbsp;&nbsp;
     <a class="btn btn-default" href="{% url 'package-view' ci_pipeline.ci_package.package_name %}">
       Back to {{ ci_pipeline.ci_package.package_name|title }}</a>
    </small>
  {% endif %}
{% endblock %}

{% block pipeline-navigation %}
  <ul class="nav nav-tabs nav-tabs-pf">
    <li><a href="{% url 'pipeline-details' ci_pipeline.ci_pipeline_uuid %}">Platform Jobs</a></li>
    <li><a href="{% url 'pipeline-sync-logs' ci_pipeline %}">Sync Logs</a></li>
    <li class="active"><a href="{% url 'pipeline-configurations' ci_pipeline.ci_pipeline_uuid %}">
      Configurations</a></li>
  </ul>
{% endblock %}

{% block pipeline-content %}
  <ul id="sub-ul" class="nav nav-tabs nav-tabs-pf-secondary">
    <li id="li-push"><a href="#"><span>Push to CI Platform</span></a></li>
    <li><a href="#"><span>Pull from CI Platform</span></a></li>
    <li><a href="#"><span>Update Source at CI Platform</span></a></li>
  </ul>

  <div class="sub-content-area">
    <h3>Push Job Settings</h3><hr/>
    <div class="row">
      <div class="col-md-6" style="border: 1px">
        <h4>Job and it's parameters!</h4>
      </div>
      <div class="col-md-6">
        <h4>Sync Schedule</h4>
      </div>
    </div>
    <h4 class="text-muted" style="margin-top:5%">
      <span class="pficon pficon-maintenance"> Under Construction</span></h4>
  </div>
{% endblock %}
