{% extends "ci/pipeline_details_base.html" %}
{% load custom_tags %}

{% block extrascript %}
  <script>
    function copyToClipboard(t,o){var e=document.queryCommandSupported("copy"),i=o.attr("data-original-title");if(!0===e){var a=document.createElement("textarea");a.value=t,document.body.appendChild(a),a.select();try{var d=document.execCommand("copy")?"Copied!":"Whoops, not copied!";o.attr("data-original-title",d).tooltip("show")}catch(t){console.log("Oops, unable to copy")}document.body.removeChild(a),o.attr("data-original-title",i)}else window.prompt("Copy to clipboard: Ctrl+C or Command+C, Enter",t)}$(document).ready(function(){$(".js-tooltip").tooltip(),$(".js-copy").click(function(){copyToClipboard($(this).attr("data-copy"),$(this))})});
  </script>
{% endblock %}

{% block pipeline-heading %}
  {% if platform_jobs.0.ci_pipeline.ci_project_details_json|get_item:"name" %}
    <small class="pull-right">
     <a href="{{ platform_jobs.0.ci_pipeline.ci_project_web_url }}" target="_blank">
       {{ platform_jobs.0.ci_pipeline.ci_project_details_json|get_item:"name" }}</a>&nbsp;&nbsp;
     <button class="btn btn-default btn-copy js-tooltip js-copy" type="button" data-toggle="tooltip"
      data-placement="bottom" data-copy="{{ request.build_absolute_uri }}{{ object.get_absolute_url }}"
      title="Copy URL"><span class="fa fa-clipboard"></span></button>
     <a class="btn btn-default" href="{% url 'package-view' platform_jobs.0.ci_pipeline.ci_package.package_name %}">
       Back to {{ platform_jobs.0.ci_pipeline.ci_package.package_name|title }}</a>
    </small>
  {% endif %}
{% endblock %}

{% block pipeline-navigation %}
  <ul class="nav nav-tabs nav-tabs-pf">
    <li class="active"><a href="{% url 'pipeline-details' platform_jobs.0.ci_pipeline %}">Platform Jobs</a></li>
    <li><a href="{% url 'pipeline-sync-logs' platform_jobs.0.ci_pipeline.ci_pipeline_uuid %}">Sync Logs</a></li>
    <li><a href="{% url 'pipeline-configurations' platform_jobs.0.ci_pipeline.ci_pipeline_uuid %}">
      Configurations</a></li>
  </ul>
{% endblock %}

{% block pipeline-content %}
  {% for p_job in platform_jobs %}
    <p class="ts-pre">{{ p_job.ci_platform_job_json }}</p>
  {% empty %}
    <h2>No details found.</h2>
  {% endfor %}
{% endblock %}
