{% extends "ci/pipeline_details_base.html" %}
{% load custom_tags %}

{% block extrascript %}
<script>
  $(document).ready(function(){

    $("#li-configurations").addClass('active') && $("#li-push").addClass('active');

    var selector = '#sub-ul li';
    $(selector).on('click', function(){
        $(selector).removeClass('active');
        console.log(this.innerHTML);
        $(this).addClass('active');
    });

  });
</script>
{% endblock %}

{% block pipeline-content %}
  <ul id="sub-ul" class="nav nav-tabs nav-tabs-pf-secondary">
    <li id="li-push"><a href="#"><span>Push to CI Platform</span></a></li>
    <li><a href="#"><span>Pull from CI Platform</span></a></li>
    <li><a href="#"><span>Update Source at CI Platform</span></a></li>
  </ul>

  <div class="sub-content-area">
    <h3>Push Job Settings</h3><hr/>
    <div class="row">
      <div class="col-md-6" style="border: 1px">
        <h4>Job and it's parameters!</h4>
      </div>
      <div class="col-md-6">
        <h4>Sync Schedule</h4>
      </div>
    </div>
    <h4 class="text-muted" style="margin-top:5%">
      <span class="pficon pficon-maintenance"> Under Construction</span></h4>
  </div>
{% endblock %}
