{% extends "ci/pipeline_details_base.html" %}
{% load custom_tags %}

{% block extrascript %}
<script>$(document).ready(function(){$("#li-sync-logs").addClass('active');});</script>
{% endblock %}

{% block pipeline-content %}
{% if logs %}
<div class="panel-group" id="accordion">
    {% for log in logs %}

        {% ifchanged %}
            <div style="background-color: white; font-size: large; margin-top: 1.5%; margin-bottom: .5%;" class="text-info">
              {{ log.job_start_time|date }}
            </div>
        {% endifchanged %}

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    {{ log.job_start_time|time }}&nbsp;&nbsp;&nbsp;
                    <a data-toggle="collapse" data-parent="#accordion" href="#{{ log.job_uuid }}">
                        <span style="color:grey">Job#</span> <span class="text-info">{{ log.job_uuid }}</span>
                    </a>&nbsp;&nbsp;&nbsp;
                    <span style="color:grey">Type#</span> {{ log.job_type|title }}
                    {% if log.job_remarks %}
                    &nbsp;&nbsp;&nbsp;<span style="color:grey">Remarks#</span> {{ log.job_remarks }}
                    {% endif %}
                    <span class="pull-right">
                        {% if log.job_result %}
                            <span class="text-success">Succeed</span>
                        {% else %}<span class="text-danger">Failed</span>{% endif %}
                    </span>
                </h4>
            </div>
            <div id="{{ log.job_uuid }}" class="panel-collapse collapse {% if forloop.counter == 1 %}in{% endif %}">
                <div class="panel-body">
                    <p><span class="fa fa-clock-o" aria-hidden="true"></span><span class="text-info">
                        {% if log.job_start_time %}Started at <strong>{{ log.job_start_time|time:"H:i:s" }}</strong>{% endif %}
                        {% if log.job_end_time %} and completed at <strong>{{ log.job_end_time|time:"H:i:s" }}</strong>
                        &nbsp;&nbsp;<em>({{ log.duration|floatformat:"0" }} seconds)</em>{% endif %}</span>
                        {% if log.triggered_by %}
                        &nbsp;&nbsp;&nbsp;<i class="text-muted">Triggered by</i> <span class="text-info">{{ log.triggered_by }}</span>
                        {% endif %}
                        <span class="pull-right btn btn-default"><a href="{% url 'log-detail' log.job_uuid %}" style="text-decoration: none;">Job Details</a>&nbsp;
                        <span class="fa fa-angle-right"></span></span>
                    </p>
                    <hr/><h3>Tasks</h3>
                    <div class="list-group">
                        {% for task, details in log.job_log_json.items %}
                        <a class="list-group-item">
                          <h4 class="list-group-item-heading">{{ task }}</h4>
                            {% for datetime, event in details.items|dictsortreversed:0 %}
                                <p class="list-group-item-text">
                                    <strong>{{ datetime|truncatechars:22 }}&nbsp;&nbsp;&nbsp;</strong>
                                    {{ event|truncatechars:200 }}
                                </p>
                            {% endfor %}
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% else %}
    <div class="container-fluid row-cards-pf">
        <h3>No Sync Logs <small>here!</small></h3>
    </div>
{% endif %}
{% endblock %}
