{% if package_desc %}<h5>Description: {{ package_desc }}</h5>{% endif %}
<h5>Upstream Repository URL:&nbsp;&nbsp;<a href="{{ package.upstream_url }}" target="_blank">{{ package.upstream_url }}</a>
{% if package.upstream_lastupdated %}
    &nbsp;&nbsp;&nbsp;&nbsp;<span class="text-muted">Last Sync:</span> {{ package.upstream_lastupdated|timesince }}
    <span class="text-muted">ago</span>.
{% endif %}
</h5>
<h5>Translation Platform Project URL:&nbsp;&nbsp;
    <a href="{{ package.transplatform_url }}" target="_blank">{{ package.transplatform_url }}</a>
{% if package.transtats_lastupdated %}
    &nbsp;&nbsp;&nbsp;&nbsp;<span class="text-muted">Last Sync:</span>
    {{ package.transtats_lastupdated|timesince }} <span class="text-muted">ago</span>.
{% endif %}
</h5>
<h5>
    Release Streams:&nbsp;&nbsp;{{ package.release_streams|join:", " }}&nbsp;&nbsp;&nbsp;&nbsp;
    {% if package.created_by and user.is_authenticated %}
        Maintainer: <span class="text-info">{{ package.created_by }}</span>
    {% endif %}
</h5><br/>
{% if not package.transtats_lastupdated and not package.upstream_latest_stats %}
    Please <span class="text-info">sync</span> {{ package.package_name }} with
    platform and/or upstream repository to get translation stats.<br/><br/>
{% endif %}
