{% if relsummary %}
    <div class="row">
    {% for release, summary in relsummary.items %}
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <div class="caption">
            <h3>{{ release }}</h3>
            <p>
                <span class="text-info">
                    {% if summary.packages_need_attention %}{{ summary.packages_need_attention }}
                    {% else %}0{% endif %}</span> packages need attention.<br/>
                In total we have <span class="text-info">{% if summary.total_untranslated_msgs %}
                {{ summary.total_untranslated_msgs }}{% else %}0{% endif %}</span> untranslated messages across
                <span class="text-info">{{ summary.languages|length }}</span> languages!
                <table class="table table-bordered table-striped">
                    <tbody>
                    {% for lang, untranslated in summary.languages.items %}
                    <tr>
                        {% if untranslated > 0 %}
                            <td>{{ lang }}</td><td align="right" class="text-info">{{ untranslated }}</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </p>
          </div>
        </div>
      </div>
    {% endfor %}
    </div><hr>
    <span class="text-info">Select a release to get into insights!</span>
    <span class="pull-right text-muted">Updated {{ last_updated|timesince }} ago.</span>
{% else %}
<h5 class="text-warning">
    Release&apos;s reports are not generated yet.
</h5>
{% endif %}
