{% load join_by from custom_tags %}
{% if stats_diff %}
    <div class="panel panel-default">
      <div class="panel-heading" style="padding-bottom:20px">
          <span style="font-size:large">Statistics Differences&nbsp;&nbsp;
              <small class="text-muted">(<i>Translation Platform Vs Build System</i>)</small></span>
      </div>
      <table class="table table-hover table-bordered" cellspacing="0">
        <thead>
            <tr>
                <th>Release Stream Branch</th>
                <th>Languages <small>(which are out of sync: <span class="text-danger">needs attention</span>)</small></th>
            </tr>
        </thead>
        <tbody>
            {% for branch, langs in stats_diff.items %}
            <tr>
                <td>{{ branch }}</td>
                <td><span class="text-info">{{ langs|join_by:", " }}</span></td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
{% endif %}
