{% extends "home.html" %}

{% block tabcontent %}
    <br/><br/>
    <nav class="navbar navbar-default bg-faded">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Views</a>
            </div>
            <div class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li id="package-wise-graphs"><a href="{% url 'home' %}">Package wise for enabled languages</a></li>
                    <li id="rules-wise-graphs"><a href="{% url 'custom-graph' %}">Based on Graph Rules</a></li>
                </ul>
            </div>
        </div>
    </nav>
    {% block tabsubcontent %}{% endblock %}
{% endblock %}
