{% extends "stats/graph_base.html" %}

{% block extrascript %}
<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="/static/js/excanvas.js"></script><![endif]-->
<script src="/static/js/jquery.flot.js"></script>
<script src="/static/js/jquery.flot.tooltip.js"></script>
<script src="/static/js/csrf.js"></script>
<style type="text/css">
    .graph-area {
        width:100%;
        min-height:600px;
    }
</style>
<script type="text/javascript">
function csrfSafeMethod(method){return(/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));}
$(document).ready(function(){$('#package-wise-graphs').addClass('active');$("#packageName").change(function(event){var packageName=$(this).val();$.ajax({beforeSend:function(xhr,settings){if(!csrfSafeMethod(settings.type)&&!this.crossDomain){if(csrftoken){xhr.setRequestHeader("X-CSRFToken",csrftoken);}else{xhr.setRequestHeader("X-CSRFToken","{{ csrf_token }}");}}},type:"POST",url:"/ajax/graph-data",data:{'package':$(this).val()},dataType:"json",success:function(json_response){var pkg_desc=json_response['pkg_desc'];var graph_data=json_response['graph_data'];var ticks=json_response['ticks'];var dataset=[]
for(version in graph_data){if(graph_data.hasOwnProperty(version)){dataset.push({label:version,data:graph_data[version]});}}
var options={series:{lines:{show:true},points:{radius:3,fill:true,show:true},},xaxis:{axisLabel:"Languages",axisLabelUseCanvas:true,axisLabelFontSizePixels:12,axisLabelFontFamily:'Verdana, Arial',axisLabelPadding:10,ticks:ticks},yaxis:{axisLabel:"Translation",axisLabelUseCanvas:true,axisLabelFontSizePixels:12,axisLabelFontFamily:'Verdana, Arial',axisLabelPadding:3,tickFormatter:function(v,axis){return v+"%";},tickDecimals:2,},legend:{noColumns:0,labelBoxBorderColor:"#000000",position:"ne"},grid:{hoverable:true,borderWidth:2,backgroundColor:{colors:["#ffffff","#EDF5FF"]}},tooltip:{show:true,content:"%s | %y translated",},};$.plot($("#grapharea"),dataset,options);var disclaimer="<span class='pull-right text-warning'><em>Graph is based on sync\'d data.</em></span>";$("#packagedesc").html(pkg_desc);$("#graphdisclaimer").html(disclaimer);},});return false;});});</script>
{% endblock %}

{% block tabsubcontent %}
    <div style="padding:20px">
        <div class="row" style="padding-bottom:20px">
            <div class="col-xs-12">
                {% if packages %}
                <select id="packageName" class="selectpicker" data-live-search="true">
                    <option selected disabled>Select Package</option>
                    {% for package in packages %}
                        <option>{{ package.package_name }}</option>
                    {% endfor %}
                </select>
                {% else %}
                    <br/><p>No package configured. Add <a href="{% url 'settings-packages-new' %}">one</a> now.</p>
                {% endif %}
                <span class="text-info pull-right" id="packagedesc"></span>
            </div>
        </div>
        <div id="grapharea" class="panel panel-info graph-area"></div>
        <p id="graphdisclaimer"></p>
    </div>
{% endblock %}
