<!-- Marked for deletion -->
{% extends "home.html" %}

{% block tabcontent %}
    <br/>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Start traversing with ...</a>
        </div>
        <ul class="nav navbar-nav">
          <li id="tab-trans-status-releases">
              <a href="{% url 'trans-status-releases' %}">&nbsp;&nbsp;Releases&nbsp;&nbsp;</a>
          </li>
          <li id="tab-trans-status-packages">
              <a href="{% url 'trans-status-packages' %}">&nbsp;&nbsp;Packages&nbsp;&nbsp;</a>
          </li>
        </ul>
      </div>
    </nav>
    {% block viewcontent %}{% endblock %}
{% endblock %}
