{% extends "home.html" %}

{% block tabcontent %}
    <br/><br/>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Views</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="tab-view-combined">
              <a href="{% url 'workload-combined' %}"><span class="glyphicon glyphicon-th-large"></span>&nbsp;&nbsp;All Combined</a>
          </li>
          <li id="tab-view-detailed">
              <a href="{% url 'workload-detailed' %}"><span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;Detailed</a>
          </li>
          <li id="tab-view-lang-wise">
              <a href="{% url 'workload' %}"><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;Individual Languages</a>
          </li>
        </ul>
      </div>
    </nav>
    {% block viewcontent %}{% endblock %}
{% endblock %}
