{% extends "stats/status_packages.html" %}
{% load custom_tags %}

{% block extrascript %}
<script src="/static/js/jquery.flot.js"></script>
<script src="/static/js/jquery.flot.tooltip.js"></script>
<script src="/static/js/waiting.dialog.js"></script>
<script src="/static/js/csrf.js"></script>
<style type="text/css">
    .table-area{width:100%;min-height:250px;height:100%}.graph-area{width:100%;min-height:600px}
</style>
<script type="text/javascript">
    function csrfSafeMethod(a) {
    return /^(GET|HEAD|OPTIONS|TRACE)$/.test(a)
}

function ajax_tabular() {
    return $.ajax({
        beforeSend: function(a, e) {
            csrfSafeMethod(e.type) || this.crossDomain || (csrftoken ? a.setRequestHeader("X-CSRFToken", csrftoken) : a.setRequestHeader("X-CSRFToken", "{{ csrf_token }}")), waitingDialog.show()
        },
        type: "POST",
        url: "{% url 'ajax-tabular-data' %}",
        data: {
            package: $("#packageName").val()
        },
        success: function(a) {
            waitingDialog.hide(), $("#tablearea").html(a)
        }
    })
}

function ajax_graph() {
    var e = $("#packageName").val();
    return $.ajax({
        beforeSend: function(a, e) {
            csrfSafeMethod(e.type) || this.crossDomain || (csrftoken ? a.setRequestHeader("X-CSRFToken", csrftoken) : a.setRequestHeader("X-CSRFToken", "{{ csrf_token }}")), $("#localegraph").hide(), $("#hideLocaleGraph").hide(), $("#langName").selectpicker("hide"), $("#langName").selectpicker("val", "Select Language"), waitingDialog.show()
        },
        type: "POST",
        url: "{% url 'ajax-graph-data' %}",
        data: {
            package: e
        },
        dataType: "json",
        success: function(t) {
            waitingDialog.hide();
            var n = t.pkg_desc,
                s = t.graph_data,
                r = t.ticks,
                i = [];
            for (version in s) s.hasOwnProperty(version) && i.push({
                label: version,
                data: s[version]
            });
            var o = {
                series: {
                    lines: {
                        show: !0,
                        lineWidth: .5
                    },
                    points: {
                        radius: 4,
                        fill: !0,
                        show: !0
                    }
                },
                xaxis: {
                    axisLabel: "Languages",
                    axisLabelUseCanvas: !0,
                    axisLabelFontSizePixels: 12,
                    axisLabelFontFamily: "Verdana, Arial",
                    axisLabelPadding: 10,
                    ticks: r
                },
                yaxis: {
                    axisLabel: "Translation",
                    axisLabelUseCanvas: !0,
                    axisLabelFontSizePixels: 12,
                    axisLabelFontFamily: "Verdana, Arial",
                    axisLabelPadding: 3,
                    tickFormatter: function(a, e) {
                        return a + "%"
                    },
                    minTickSize: 1,
                    tickDecimals: 2
                },
                legend: {
                    show: !0,
                    noColumns: 0,
                    labelBoxBorderColor: "Grey",
                    position: "ne"
                },
                grid: {
                    hoverable: !0,
                    borderWidth: 2,
                    backgroundColor: {
                        colors: ["#ffffff", "#EDF5FF"]
                    }
                },
                tooltip: {
                    show: !0,
                    content: "%s | %y translated"
                }
            };
            i.length > 0 && ($("#localegraph").hide(), $("#grapharea").show(), $.plot($("#grapharea"), i, o), $("#graphinfo").html("Translation status of " + e + " for " + i.length + " branch(es) in " + r.length + " language(s)."), $("#packagedesc").html(n), $("#graphdisclaimer").html(a), $("#langName").selectpicker("show"))
        }
    })
}

function ajax_locale() {
    var e = $("#packageName").val(),
        t = $("#langName").val();
    return $.ajax({
        beforeSend: function(a, e) {
            csrfSafeMethod(e.type) || this.crossDomain || (csrftoken ? a.setRequestHeader("X-CSRFToken", csrftoken) : a.setRequestHeader("X-CSRFToken", "{{ csrf_token }}")), waitingDialog.show()
        },
        type: "POST",
        url: "{% url 'ajax-graph-data' %}",
        data: {
            package: e,
            locale: t
        },
        dataType: "json",
        success: function(n) {
            waitingDialog.hide();
            var s = n.pkg_desc,
                r = n.graph_data,
                i = n.ticks,
                o = [{
                    label: "Translation Progress",
                    data: r
                }],
                l = {
                    series: {
                        bars: {
                            show: !0
                        }
                    },
                    bars: {
                        align: "center",
                        barWidth: .5 * i.length / 10,
                        horizontal: !0
                    },
                    xaxis: {
                        axisLabel: "Translation Percentage",
                        axisLabelUseCanvas: !0,
                        axisLabelFontSizePixels: 12,
                        axisLabelFontFamily: "Verdana, Arial",
                        axisLabelPadding: 10,
                        max: 110,
                        tickFormatter: function(a, e) {
                            return a + "%"
                        }
                    },
                    yaxis: {
                        axisLabel: "Branches",
                        axisLabelUseCanvas: !0,
                        axisLabelFontSizePixels: 12,
                        axisLabelFontFamily: "Verdana, Arial",
                        axisLabelPadding: 3,
                        ticks: i
                    },
                    legend: {
                        noColumns: 0,
                        labelBoxBorderColor: "#000000",
                        position: "ne"
                    },
                    grid: {
                        hoverable: !0,
                        borderWidth: 2,
                        backgroundColor: {
                            colors: ["#ffffff", "#EDF5FF"]
                        }
                    },
                    tooltip: {
                        show: !0,
                        content: "%y | %x translated"
                    }
                };
            i.length > 0 && ($("#grapharea").hide(), $("#localegraph").show(), $.plot($("#localegraph"), o, l), $("#graphinfo").html("Translation status of " + t + " for " + i.length + " branch(es) in " + e + " locale."), $("#packagedesc").html(s), $("#graphdisclaimer").html(a), $("#hideLocaleGraph").show())
        }
    })
}

function refresh_package() {
    return $.ajax({
        beforeSend: function(a, e) {
            csrfSafeMethod(e.type) || this.crossDomain || (csrftoken ? a.setRequestHeader("X-CSRFToken", csrftoken) : a.setRequestHeader("X-CSRFToken", "{{ csrf_token }}")), $("#refreshProgress").html("<img src='/static/img/spin.gif'></img>")
        },
        type: "POST",
        url: "{% url 'ajax-refresh-package' %}",
        data: {
            package: "{{ package_name }}",
            task: $("#syncPackageIdentifier").val()
        },
        success: function(a) {
            $("#refreshProgress").html("<span class='glyphicon glyphicon-ok-sign' style='color:green'></span>"), package_details(), load_table(), branch_mapping()
        },
        error: function(a, e, t) {
            $("#refreshProgress").html("<span class='glyphicon glyphicon-exclamation-sign' style='color:orange'></span>"), $("#span-alerts").html(a.responseText)
        }
    })
}

function branch_mapping() {
    $.ajax({
        beforeSend: function(a, e) {
            csrfSafeMethod(e.type) || this.crossDomain || (csrftoken ? a.setRequestHeader("X-CSRFToken", csrftoken) : a.setRequestHeader("X-CSRFToken", "{{ csrf_token }}")), $("#createBranchMapping").attr("disabled", !0), $("#rebuildProgress").html("<img src='/static/img/spin.gif'></img>")
        },
        type: "POST",
        url: "{% url 'ajax-refresh-package' %}",
        data: {
            package: "{{ package_name }}",
            task: $("#mapBranchesIdentifier").val()
        },
        success: function(a) {
            $("#rebuildProgress").html("<span class='glyphicon glyphicon-ok-sign' style='color:green'></span>"), $("#createBranchMapping").attr("disabled", !1), setTimeout(function() {
                $("#div-branch-mapping").html(a)
            }, 1e3)
        },
        error: function(a, e, t) {
            $("#rebuildProgress").html("<span class='glyphicon glyphicon-exclamation-sign' style='color:orange'></span>"), $("#createBranchMapping").attr("disabled", !1), $("#span-alerts").html(a.responseText)
        }
    })
}

function stats_diff() {
    $.ajax({
        beforeSend: function(a, e) {
            csrfSafeMethod(e.type) || this.crossDomain || (csrftoken ? a.setRequestHeader("X-CSRFToken", csrftoken) : a.setRequestHeader("X-CSRFToken", "{{ csrf_token }}")), $("#createStatsDiff").attr("disabled", !0), $("#rebuildProgress").html("<img src='/static/img/spin.gif'></img>")
        },
        type: "POST",
        url: "{% url 'ajax-refresh-package' %}",
        data: {
            package: "{{ package_name }}",
            task: $("#statsDiffIdentifier").val()
        },
        success: function(a) {
            $("#rebuildProgress").html("<span class='glyphicon glyphicon-ok-sign' style='color:green'></span>"), $("#createStatsDiff").attr("disabled", !1), setTimeout(function() {
                $("#div-stats-diff").html(a)
            }, 1e3)
        },
        error: function(a, e, t) {
            $("#rebuildProgress").html("<span class='glyphicon glyphicon-exclamation-sign' style='color:orange'></span>"), $("#createStatsDiff").attr("disabled", !1), $("#span-alerts").html(a.responseText)
        }
    })
}


function package_details() {
    $.ajax({
        beforeSend: function(a, e) {
            csrfSafeMethod(e.type) || this.crossDomain || (csrftoken ? a.setRequestHeader("X-CSRFToken", csrftoken) : a.setRequestHeader("X-CSRFToken", "{{ csrf_token }}"))
        },
        type: "POST",
        url: "{% url 'ajax-refresh-package' %}",
        data: {
            package: "{{ package_name }}",
            task: "details"
        },
        success: function(a) {
            $("#div-package-details").html(a)
        }
    })
}

function load_table() {
    $("#btn-graph").removeClass("active"), $("#btn-tabular").addClass("active"), ajax_tabular(), $("#hideLocaleGraph").hide(), $("#langName").selectpicker("hide"), $("#graphgroup").hide(), $("#tablearea").show()
}
$(document).ready(function() {
    $("#tab-translation-status").addClass("active"), $("#tab-trans-status-packages").addClass("active"), $("#btn-tabular").addClass("active"), $("#graphgroup").hide(), $("#localegraph").hide(), $("#hideLocaleGraph").hide(), $("#langName").selectpicker("hide"), $("#packageName").val("{{ package_name }}"), $("#span-alerts").html(""), $("#packageName").change(function(a) {
        window.location.replace("/translation-status/package/" + $(this).val())
    }), $("#btn-graph").click(function() {
        $("#btn-tabular").removeClass("active"), $("#btn-graph").addClass("active"), ajax_graph(), $("#tablearea").hide(), $("#graphgroup").show()
    }), $("#btn-tabular").click(function() {
        load_table()
    }), $("#syncTransplatformLink").click(function(a) {
        return a.preventDefault(), refresh_package(), !1
    }), $("#createBranchMapping").click(function(a) {
        return a.preventDefault(), branch_mapping(), !1
    }), $("#createStatsDiff").click(function(a) {
        return a.preventDefault(), stats_diff(), !1
    }), $("#langName").change(function(a) {
        ajax_locale()
    }), $("#hideLocaleGraph").click(function(a) {
        return a.preventDefault(), $("#localegraph").hide(), $("#langName").selectpicker("val", "Select Language"), $("#graphinfo").html(""), $("#grapharea").show(), $(this).hide()
    })
});
</script>
{% endblock %}

{% block navigation %}
    <a href="{% url 'home' %}" class="btn btn-default"><i class="glyphicon glyphicon-dashboard"></i></a>
    <a href="{% url 'trans-status' %}" class="btn btn-default">Translation Status</a>
    <a href="{% url 'trans-status-packages' %}" class="btn btn-default">Packages</a>
    <a href="{% url 'trans-status-package' package_name %}" class="btn btn-default">{{ package_name }}</a>
{% endblock %}

{% block dataviews %}
<span class="text-info pull-right" >
    <span class="btn-group" role="group" aria-label="...">
      <button type="button" id="btn-tabular" class="btn btn-default">
          <span class="glyphicon glyphicon-th"></span>&nbsp;Tabular</button>
      <button type="button" id="btn-graph" class="btn btn-default">
          <span class="glyphicon glyphicon-stats"></span>&nbsp;Graph</button>
    </span>
    <span class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       <span id="refreshProgress"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></span>
          Sync <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a id="syncTransplatformLink" data-toggle="tooltip" title="Sync with translation platform"><input type="hidden" value="syncPlatform" id="syncPackageIdentifier"/>Translation Platform</a></li>
        <li><a href="{% url 'jobs' %}?package={{ package_name }}" data-toggle="tooltip" title="Sync with {{ package_name }} source repo">Upstream Repository</a></li>
        <li><a href="{% url 'jobs-yml-based' %}?package={{ package_name }}" data-toggle="tooltip" title="Sync with build system">Release Build System</a></li>
      </ul>
    </span>
    <span class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       <span id="rebuildProgress"><span class="glyphicon glyphicon-repeat" aria-hidden="true"></span></span>
          Update <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a id="createBranchMapping" data-toggle="tooltip" title="Rebuild Branch Mapping"><input type="hidden" value="mapBranches" id="mapBranchesIdentifier"/>Branch Mapping</a></li>
        <li><a id="createStatsDiff" data-toggle="tooltip" title="Sync done? Rebuild diff"><input type="hidden" value="statsDiff" id="statsDiffIdentifier"/>Statistics Diff</a></li>
      </ul>
    </span><br/><br/>
    <span id="span-alerts" class="text-warning pull-right"></span>
</span>
{% endblock %}

{% block datacontent %}
<div id="div-package-details">
    {% tag_package_details package_name user %}
</div>
<div id="div-stats-diff">
    {% tag_stats_diff package_name %}<hr/>
</div>
<div id="tablearea" class="panel panel-info table-area">
    {% tag_tabular_form package_name %}
</div>
<div id="graphgroup">
    <div id="graphinfo" class="text-info"></div>
    <div id="localegraph" class="panel panel-info graph-area"></div>
    <div id="grapharea" class="panel panel-info graph-area"></div>
</div>
<p id="graphdisclaimer"></p>
<br/><hr/>
<div id="div-branch-mapping">
    {% tag_branch_mapping package_name %}
</div>
{% endblock %}
