{% extends "settings/settings_base.html" %}
{% load crispy_forms_tags %}

{% block extrascript %}
<script src="/static/js/jquery-1.12.3.js"></script>
<script type="text/javascript">
    function slugify(e){return e.toString().toLowerCase().replace(/\s+/g,"-").replace(/\./g,"-").replace(/[^\w\-]+/g,"").replace(/\-\-+/g,"-").replace(/^-+/,"").replace(/-+$/,"")}function showRuleSlug(){document.getElementById("show_rule_slug").innerHTML="Graph Rule: <b>"+slugify(document.getElementById("id_rule_name").value)+"</b>"}$(document).ready(function(){$("#tab-graph-rules").addClass("active"),"pick"==$('input[name="lang_selection"]:checked').val()&&$("#div_id_rule_langs").hide(),$("#lang_selection_id").on("change",function(){var e=$('input[name="lang_selection"]:checked').val();"pick"==e?$("#div_id_rule_langs").hide():"select"==e&&$("#div_id_rule_langs").show()})});
</script>
{% endblock %}

{% block navigation %}
    <a href="{% url 'home' %}" class="btn btn-default"><i class="glyphicon glyphicon-dashboard"></i></a>
    <a href="{% url 'settings' %}" class="btn btn-default">Settings</a>
    <a href="{% url 'settings-graph-rules' %}" class="btn btn-default">Graph Rules</a>
    <a href="{% url 'settings-graph-rules-new' %}" class="btn btn-default">Add</a>
{% endblock %}

{% block tabcontent %}
<div class="row">
    <div class="col-xs-12">
        <span>
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            &nbsp;&nbsp;<span class="text-muted" style="font-size:large">Create a new graph rule</span>
        </span>
        <div class="pull-right">
            <a type="button" class="btn btn-default" href="{% url 'settings-graph-rules' %}">Back to List Graph Rules</a>
        </div>
    </div>
</div>
<hr/>
{% for message in messages %}
    {% if 'success' in message.tags %}
        <div class="alert alert-success alert-dismissable">
          <button type="button" class="close" aria-hidden="true">&times;</button>
          <p>{{ message }}</p>
        </div>
    {% endif %}
    {% if 'error' in message.tags %}
        <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" aria-hidden="true">&times;</button>
          <p>{{ message }}</p>
        </div>
    {% endif %}
{% endfor %}
<div id="settings-packages-new">
    <span class="col-xs-8 well">
        {% crispy form %}
    </span>
    <span class="col-xs-4" style="padding-top:40px">
        <p class="text-info" id="show_rule_slug"></p>
    </span>
</div>
{% endblock %}
