{% extends "settings/settings_base.html" %}

{% block extrascript %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#tab-graph-rules').addClass('active');
    })
</script>
{% endblock %}

{% block navigation %}
    <a href="{% url 'home' %}" class="btn btn-default"><i class="glyphicon glyphicon-home"></i></a>
    <a href="{% url 'settings' %}" class="btn btn-default">Settings</a>
    <a href="{% url 'settings-graph-rules' %}" class="btn btn-default">Graph Rules</a>
{% endblock %}

{% block tabcontent %}
<h5>This section would include rules for custom graphs!!</h5>
{% endblock %}
