{% extends "settings/settings_base.html" %}
{% load custom_tags %}

{% block extrascript %}
<link href="/static/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="/static/js/bootstrap-toggle.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#tab-languages').addClass('active');
    })
</script>
{% endblock %}

{% block navigation %}
    <a href="{% url 'home' %}" class="btn btn-default"><i class="glyphicon glyphicon-home"></i></a>
    <a href="{% url 'settings' %}" class="btn btn-default">Settings</a>
    <a href="{% url 'settings-languages' %}" class="btn btn-default">Languages</a>
{% endblock %}

{% block tabcontent %}
<div class="row">
    <div class="col-xs-12">
        <span>
            <span class="badge">{{ locales|length }}</span> languages
            {% if active_locales_len %}
                <span class="badge">{{ active_locales_len }}</span> enabled
            {% endif %}
            {% if inactive_locales_len %}
                <span class="badge">{{ inactive_locales_len }}</span> disabled
            {% endif %}
            {% if aliases_len %}
                <span class="badge">{{ aliases_len }}</span> aliases
            {% endif %}
        </span>
        <span class="pull-right">
            {% if user.is_authenticated and user.is_superuser %}
                <a href="/admin/dashboard/languages/add" role="button" class="btn btn-default">Add Language</a>
                <a href="/admin/dashboard/languages/" role="button" class="btn btn-default">Edit Languages</a>
            {% else %}
                <a href="/admin/" role="button" class="btn btn-default">Manage Languages</a>
            {% endif %}
        </span>
    </div>
</div>
<hr/>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Language Sets</h3>
  </div>
  <div class="panel-body">
      {% for langset in language_sets %}
          <span class="glyphicon glyphicon-tag" aria-hidden="true" style="color:{{ langset.lang_set_color }}"></span>
          {{ langset.lang_set_name }}
          &nbsp;
      {% endfor %}
  </div>
  {% if user.is_authenticated and user.is_superuser %}
      <div class="panel-footer">
          <a href="/admin/dashboard/languageset/add" role="button" class="btn btn-default">Add</a>
          <a href="/admin/dashboard/languageset/" role="button" class="btn btn-default">Edit</a>
      </div>
  {% endif %}
</div>

<hr/>
{% if locales %}
    <table class="table table-hover">
        <thead><tr>
            <th>Language</th>
            <th>Locale</th>
            <th>Alias</th>
            <th>Sets</th>
            <th>Status</th>
        </tr></thead>
        <tbody>
        {% for lang in locales %}
        <tr>
            <td>{{ lang.lang_name }}</td>
            <td>{{ lang.locale_id }}</td>
            <td>
                {% if lang.locale_alias %}
                    {{ lang.locale_alias }}
                {% else %}
                    <button class="btn btn-small btn-link" type="button">Add</button>
                {% endif %}
            </td>
            <td>
                {% for lang_set in locale_groups|get_item:lang.locale_id %}
                    <span class="glyphicon glyphicon-tag" aria-hidden="true" style="color:{{ langset_color_dict|get_item:lang_set }}"></span>
                    &nbsp;
                {% endfor %}
            </td>
            <td>{% if lang.lang_status %}
                    <input type="checkbox" checked data-toggle="toggle" disabled>
                {% else %}
                    <input type="checkbox" data-toggle="toggle" disabled>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>
        Add language to list it here.
    </p>
{% endif %}

{% endblock %}
