{% extends "settings/settings_base.html" %}
{% load crispy_forms_tags %}

{% block extrascript %}
<script src="/static/js/jquery-1.12.3.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#tab-packages').addClass('active');
        $('#packages-table').DataTable();
    })
</script>
{% endblock %}

{% block navigation %}
    <a href="{% url 'home' %}" class="btn btn-default"><i class="glyphicon glyphicon-dashboard"></i></a>
    <a href="{% url 'settings' %}" class="btn btn-default">Settings</a>
    <a href="{% url 'settings-packages' %}" class="btn btn-default">Packages</a>
{% endblock %}

{% block tabcontent %}
<div class="row">
    <div class="col-xs-12">
        <span>
            <span class="badge">{{ packages|length }}</span> packages
        </span>
        <div class="pull-right">
            {% if user.is_authenticated %}
                <a class="btn btn-default" role="button" href="{% url 'package-new' %}">Add Package</a>
            {% endif %}
            {% if packages %}
            <a class="btn btn-default" role="button" href="{% url 'packages-export' 'csv' %}">
                <span class="glyphicon glyphicon-download" aria-hidden="true"></span> Export to CSV</a>
            {% endif %}
        </div>
    </div>
</div>
<hr/>
<div id="settings-package-content">
    <table id="packages-table" class="table table-hover table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Package</th>
                <th>Upstream</th>
                <th>Translation Platform</th>
                <th>Products</th>
                <th>Branch Mapping</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Package</th>
                <th>Upstream</th>
                <th>Translation Platform</th>
                <th>Products</th>
                <th>Branch Mapping</th>
            </tr>
        </tfoot>
        <tbody>
            {% for package in packages %}
            <tr>
                <td width="12%">
                    <a href="{% url 'trans-status-package' package.package_name %}">{{ package.package_name }}</a>
                </td>
                <td width="28%">
                    <a href="{{ package.upstream_url }}" target="_blank">{{ package.upstream_url }}</a>
                    <span class="glyphicon glyphicon-link" aria-hidden="true"></span><br/>
                    {% if package.upstream_last_updated %}
                        <span class="text-muted">Last Sync:</span> {{ package.upstream_last_updated|timesince }}
                        <span class="text-muted">ago</span>.
                    {% endif %}
                </td>
                <td width="28%">
                    <a href="{{ package.platform_url }}" target="_blank">{{ package.platform_url }}</a>
                    <span class="glyphicon glyphicon-link" aria-hidden="true"></span><br/>
                    {% if package.platform_last_updated %}
                        <span class="text-muted">Last Sync:</span>
                        {{ package.platform_last_updated|timesince }} <span class="text-muted">ago</span>.
                    {% endif %}
                </td>
                <td width="12%">{{ package.products|join:", " }}</td>
                <td align="center" width="5%">
                    {% if package.release_branch_mapping %}
                        <span class="glyphicon glyphicon-ok-sign" style="color:green; font-size:22px"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-exclamation-sign" style="color:orange; font-size:22px"></span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
