{% extends "settings/settings_base.html" %}
{% load crispy_forms_tags %}

{% block extrascript %}
<script src="/static/js/jquery-1.12.3.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#tab-packages').addClass('active');
        $('#packages-table').DataTable();
    })
</script>
{% endblock %}

{% block navigation %}
    <a href="{% url 'home' %}" class="btn btn-default"><i class="glyphicon glyphicon-home"></i></a>
    <a href="{% url 'settings' %}" class="btn btn-default">Settings</a>
    <a href="{% url 'settings-packages' %}" class="btn btn-default">Packages</a>
{% endblock %}

{% block tabcontent %}
<div class="row">
    <div class="col-xs-12">
        <span>
            <span class="badge">{{ packages|length }}</span> packages registered.
        </span>
        <div class="pull-right">
            <a class="btn btn-default" role="button" href="{% url 'settings-packages-new' %}">Add Package</a>
        </div>
    </div>
</div>
<hr/>
<div id="settings-package-content">
    <table id="packages-table" class="table table-hover table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Package</th>
                <th>Upstream</th>
                <th>Translation Platform</th>
                <th>Release Streams</th>
                <th>Mapping</th>
                <th>Last Sync</th>
                <th><a href="#" data-toggle="tooltip" title="Sync and rebuild mapping">Refresh</a></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Package</th>
                <th>Upstream</th>
                <th>Translation Platform</th>
                <th>Release Streams</th>
                <th>Mapping</th>
                <th>Last Sync</th>
                <th><a href="#" data-toggle="tooltip" title="Sync and rebuild mapping">Refresh</a></th>
            </tr>
        </tfoot>
        <tbody>
            {% for package in packages %}
            <tr>
                <td>{{ package.package_name }}</td>
                <td>
                    <a href="{{ package.upstream_url }}" target="_blank">{{ package.upstream_url }}</a>
                    <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                </td>
                <td>
                    <a href="{{ package.transplatform_url }}" target="_blank">{{ package.transplatform_url }}</a>
                    <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                </td>
                <td>{{ package.release_streams|join:", " }}</td>
                <td align="center">
                    <a class="btn btn-default btn-small" href="{% url 'settings-package-mapping' package.package_name %}">
                        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                    </a>
                </td>
                <td>
                    {% if package.transtats_lastupdated %}
                        {{ package.transtats_lastupdated|timesince }} <span style="color:grey">ago</span>.
                    {% else %}
                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                    {% endif %}
                </td>
                <td align="center">
                  <a class="btn btn-default btn-small"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
