{% extends "settings/settings_base.html" %}
{% load crispy_forms_tags %}

{% block extrascript %}
<script type="text/javascript">
    function slugify(text)
    {
      return text.toString().toLowerCase()
        .replace(/\s+/g, '-')           // Replace spaces with -
        .replace(/\./g, '-')            // Replace dot with -
        .replace(/[^\w\-]+/g, '')       // Remove all non-word chars
        .replace(/\-\-+/g, '-')         // Replace multiple - with single -
        .replace(/^-+/, '')             // Trim - from start of text
        .replace(/-+$/, '');            // Trim - from end of text
    }
    $(document).ready(function() {
        $('#tab-release-streams').addClass('active');
    })
    function showBranchNameSlug() {
        document.getElementById('show_branch_name_slug').innerHTML =
                    "Branch Slug: <b>" + slugify(document.getElementById("id_relbranch_name").value) + "</b>";
    }
</script>
{% endblock %}

{% block navigation %}
    <a href="{% url 'home' %}" class="btn btn-default"><i class="glyphicon glyphicon-dashboard"></i></a>
    <a href="{% url 'settings' %}" class="btn btn-default">Settings</a>
    <a href="{% url 'settings-release-streams' %}" class="btn btn-default">Products</a>
    <a href="{% url 'settings-stream-branches' relstream.relstream_slug %}" class="btn btn-default">Releases</a>
    <a href="{% url 'settings-stream-branches-new' relstream.relstream_slug %}" class="btn btn-default">Add</a>
{% endblock %}

{% block tabcontent %}
<div class="row">
    <span class="col-xs-12">
        <span>
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            &nbsp;&nbsp;<span class="text-muted" style="font-size:large">Register a new {{ relstream.relstream_name|capfirst }} release</span>
        </span>
        <span class="pull-right">
            <a href="{% url 'settings-stream-branches' relstream.relstream_slug %}" class="btn btn-default">Back to {{ relstream.relstream_name|capfirst }} Releases</a>
            <a href="{% url 'settings-release-streams' %}" class="btn btn-default">Back to Products</a>
        </span>
    </span>
</div>
<hr/>
{% for message in messages %}
    {% if 'success' in message.tags %}
        <div class="alert alert-success alert-dismissable">
          <button type="button" class="close" aria-hidden="true">&times;</button>
          <p>{{ message }}</p>
        </div>
    {% endif %}
    {% if 'error' in message.tags %}
        <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" aria-hidden="true">&times;</button>
          <p>{{ message }}</p>
        </div>
    {% endif %}
{% endfor %}
<div id="settings-release-branch-new">
    <span class="col-xs-8 well">
        {% crispy form %}
    </span>
    <span class="col-xs-4" style="padding-top:40px">
        <p class="text-info" id="show_branch_name_slug"></p>
    </span>
</div>
{% endblock %}
