{% extends "settings/settings_base.html" %}

{% block extrascript %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#tab-release-streams').addClass('active');
    })
</script>
{% endblock %}

{% block navigation %}
    <a href="{% url 'home' %}" class="btn btn-default"><i class="glyphicon glyphicon-dashboard"></i></a>
    <a href="{% url 'settings' %}" class="btn btn-default">Settings</a>
    <a href="{% url 'settings-release-streams' %}" class="btn btn-default">Products</a>
{% endblock %}

{% block tabcontent %}
<div class="row">
    <div class="col-xs-12">
        <span>
            <span class="badge">{{ relstreams|length }}</span> products
        </span>
        <span class="pull-right">
            {% if user.is_authenticated and user.is_staff %}
                <a href="{% url 'admin:dashboard_releasestream_add' %}" role="button" class="btn btn-default">Add Product</a>
                <a href="{% url 'admin:dashboard_releasestream_changelist' %}" role="button" class="btn btn-default">Manage Products</a>
            {% endif %}
        </span>
    </div>
</div>
<hr/>
{% if relstreams %}
    <div class="row">
    {% for relstream in relstreams %}
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <div class="caption">
            <h3>{{ relstream.relstream_name }} <small>{{ relstream.relstream_built }}</small>
                {% if relstream.relstream_status %}
                    <span class="glyphicon glyphicon-ok-circle" style="color:green"></span>
                {% else %}
                    <span class="glyphicon glyphicon-ban-circle" style="color:orange"></span>
                {% endif %}</h3>
            <p>
                <a href="{{ relstream.web_url }}" target="_blank">{{ relstream.web_url }}</a>
                <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
            </p>
            <p>
                <span style="color:grey">Authentication type:</span> {{ relstream.auth_type|capfirst }}
                <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
            </p>
            <p>
                <span style="color:grey">Source package format:</span> {{ relstream.srcpkg_format|upper }}
                <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
            </p>
            <p>
                <span style="color:grey">Message bus:</span> {{ relstream.msgbus_exchange }}
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
            </p>
            <hr/>
            <div class="list-group">
              <a href="{% url 'settings-stream-branches' relstream.relstream_slug %}" class="list-group-item">
                <h4 class="list-group-item-heading">{{ relstream.relstream_name }}
                    <small class="text-primary">Releases</small></h4>
              </a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
{% else %}
    <p>
        Add release stream to list it here.
    </p>
{% endif %}
{% endblock %}
