{% extends "base.html" %}

{% block pagebanner %}
    <div class="page-header">
      <h1>App Settings <small>inventory and configuration</small></h1>
    </div>
{% endblock %}

{% block extrascript %}
<style type="text/css">
    img {
      display: block;
      max-width:50px;
      max-height:50px;
      width: auto;
      height: auto;
    }
</style>
{% endblock %}

{% block pagecontent %}
    <ul class="nav nav-tabs">
      <li id="tab-summary" role="presentation"><a href="{% url 'settings' %}">Summary</a></li>
      <li id="tab-languages" role="presentation"><a href="{% url 'settings-languages' %}">Languages</a></li>
      <li id="tab-trans-platforms" role="presentation"><a href="{% url 'settings-trans-platforms' %}">Translation Platforms</a></li>
      <li id="tab-release-streams" role="presentation"><a href="{% url 'settings-release-streams' %}">Release Streams</a></li>
      <li id="tab-packages" role="presentation"><a href="{% url 'settings-packages' %}">Packages</a></li>
      <li id="tab-jobs" role="presentation"><a href="{% url 'settings-jobs' %}">Jobs</a></li>
      <li id="tab-notification" role="presentation"><a href="{% url 'settings-notification' %}">Notification</a></li>
      <li id="tab-graph-rules" role="presentation"><a href="{% url 'settings-graph-rules' %}">Graph Rules</a></li>
      <li id="tab-logs" role="presentation"><a href="{% url 'settings-logs' %}">Logs</a></li>
    </ul>
    <div style="padding:20px">
        {% block tabcontent %}{% endblock %}
</div>
{% endblock %}
