{% extends "settings/settings_base.html" %}

{% block extrascript %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#tab-release-streams').addClass('active');
    })
</script>
{% endblock %}

{% block navigation %}
    <a href="{% url 'home' %}" class="btn btn-default"><i class="glyphicon glyphicon-dashboard"></i></a>
    <a href="{% url 'settings' %}" class="btn btn-default">Settings</a>
    <a href="{% url 'settings-release-streams' %}" class="btn btn-default">Products</a>
    <a href="{% url 'settings-stream-branches' relstream.relstream_slug %}" class="btn btn-default">Releases</a>
{% endblock %}

{% block tabcontent %}
<div class="row">
    <span class="col-xs-12">
        <span>
            <span class="badge">{{ relbranches|length }}</span> {{ relstream.relstream_name }} releases
        </span>
        <span class="pull-right">
            {% if user.is_authenticated and user.is_staff %}
                <a href="{% url 'settings-stream-branches-new' relstream.relstream_slug %}" class="btn btn-default">Add Release</a>
            {% endif %}
            <!--<button type="button" class="btn btn-default disabled">Unsupported Releases</button>-->
            <a href="{% url 'settings-release-streams' %}" class="btn btn-default">Back to Products</a>
        </span>
    </span>
</div>
<hr/>
{% if relbranches %}
    <div class="row">
    {% for relbranch in relbranches %}
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <div class="caption">
              <h3><span data-toggle="tooltip" title="{{ relbranch.relbranch_slug }}">{{ relbranch.relbranch_name }}</span>
                {% if relbranch.scm_branch %}
                    <small>{{ relbranch.scm_branch }}</small>
                {% endif %}
                <span class="pull-right">
                    <a type="button" class="btn btn-default btn-small"
                       href="{% url 'trans-status-release' relbranch.relbranch_slug %}" data-toggle="tooltip" title="Stats">
                        <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
                    </a>
                </span>
            </h3>
            <p>
                <span style="color:grey">Current Status:</span> {{ relbranch.current_phase|capfirst }}
            </p>
            <p>
                <span style="color:grey">Language Set:</span> {{ relbranch.lang_set|capfirst }}
            </p>
            <p>
                <span style="color:grey">Sync Calendar:</span>
                {% if relbranch.sync_calendar %}
                    <span class="glyphicon glyphicon-check" style="color:green"></span>
                {% else %}
                    <span class="glyphicon glyphicon-ban-circle" style="color:orange"></span>
                {% endif %}
            </p>
            <p>
                <span style="color:grey">Notifications:</span>
                {% if relbranch.notifications_flag %}
                    <span class="glyphicon glyphicon-check" style="color:green"></span>
                {% else %}
                    <span class="glyphicon glyphicon-ban-circle" style="color:orange"></span>
                {% endif %}
            </p>
            <p>
                <span style="color:grey">Track Translation:</span>
                {% if relbranch.track_trans_flag %}
                    <span class="glyphicon glyphicon-check" style="color:green"></span>
                {% else %}
                    <span class="glyphicon glyphicon-ban-circle" style="color:orange"></span>
                {% endif %}
            </p>
            {% if relbranch.schedule_json %}
                <div class="list-group">
                  <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">Release Schedule</h4><br/>
                    {% for milestone, date in relbranch.schedule_json.items|dictsort:1 %}
                        <p class="list-group-item-text">
                            <div style="background-color: Azure;">
                                <span class="text-info">{{ milestone }}</span>
                                <span class="pull-right">{{ date }}</span>
                            </div>
                        </p>
                    {% endfor %}
                  </a>
                  <div class="pull-right">
                    <a href="{{ relbranch.calendar_url }}" target="_blank">iCal</a>
                    <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                  </div>
                </div>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
{% else %}
    <p>
        No release configured. Add <a href="{% url 'settings-stream-branches-new' relstream.relstream_slug %}">one</a> now.
    </p>
{% endif %}
{% endblock %}
