<script>
$(function(){$(".dropdown-menu a").click(function(){console.log($(this).attr("data-value")),$(this).closest(".dropdown").find("input.options").val($(this).attr("data-value"))}),$("#repoBranches").click(function(){$(this).val("")})});
</script>
<div class="input-group dropdown">
    <input id="repoBranch" type="text" class="form-control options dropdown-toggle" placeholder="Select Repo Branch">
    <ul class="dropdown-menu scrollable-menu">
        {% for branch in branches %}
            <li><a data-value="{{ branch }}">{{ branch }}</a></li>
        {% endfor %}
    </ul>
    <span role="button" class="input-group-addon dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></span>
</div>
