{% extends "jobs/jobs_base.html" %}
{% load custom_tags %}

{% block extrascript %}
<style type="text/css">
    li {
      margin-left: 2px;
    }
    .stepwizard-step p{
        margin-top:10px
    }
    .stepwizard-row{
        display:table-row
    }
    .stepwizard{
        display:table;
        width:50%;
        position:relative
    }
    .stepwizard-step button[disabled]{
        opacity:1!important;
        filter:alpha(opacity=100)!important
    }
    .stepwizard-row:before{
        top:14px;
        bottom:0;
        position:absolute;
        content:" ";
        width:100%;
        height:1px;
        background-color:#ccc;
        z-order:0
    }
    .stepwizard-step{
        display:table-cell;
        text-align:center;
        position:relative
    }
    .btn-circle{
        width:30px;
        height:30px;
        text-align:center;
        padding:6px 0;
        font-size:12px;
        line-height:1.428571429;
        border-radius:15px
    }
    .scrollable-panel{
        height:600px;
        overflow-y:scroll;
        width:100%
    }
</style>
<script src="/static/js/csrf.js"></script>
<script type="text/javascript">
    function csrfSafeMethod(e) {
        return /^(GET|HEAD|OPTIONS|TRACE)$/.test(e)
    }

    function getUrlVars() {
        for (var e, t = [], a = window.location.href.slice(window.location.href.indexOf("?") + 1).split("&"), s = 0; s < a.length; s++) e = a[s].split("="), t.push(e[0]), t[e[0]] = e[1];
        return t
    }

    function ajax_job_template(jobTemplateValue) {
        $.ajax({
            beforeSend: function(e, t) {
                csrfSafeMethod(t.type) || this.crossDomain || (csrftoken ? e.setRequestHeader("X-CSRFToken", csrftoken) : e.setRequestHeader("X-CSRFToken", "{{ csrf_token }}"))
            },
            type: "POST",
            url: "{% url 'ajax-job-template' %}",
            data: {
                template: jobTemplateValue
            },
            success: function(e) {
                e && $("#jobTemplate").html(e)
            }
        })
    }

    $(document).ready(function() {
        $("#tab-yml-based").addClass("active"),
        getUrlVars().template && ajax_job_template(getUrlVars().template);
        var e = $("div.setup-panel div a"),
            t = $(".setup-content"),
            a = $(".nextBtn"),
            s = $(".prevBtn");
        t.hide(), e.click(function(a) {
            a.preventDefault();
            var s = $($(this).attr("href")),
                r = $(this);
            r.hasClass("disabled") || (e.removeClass("btn-primary").addClass("btn-default"), r.addClass("btn-primary"), t.hide(), s.show(), s.find("input:eq(0)").focus())
        }), s.click(function() {
            var e = $(this).closest(".setup-content").attr("id");
            $('div.setup-panel div a[href="#' + e + '"]').parent().prev().children("a").removeAttr("disabled").trigger("click")
        }), a.click(function() {
            var e = $(this).closest(".setup-content"),
                t = e.attr("id"),
                a = $('div.setup-panel div a[href="#' + t + '"]').parent().next().children("a"),
                s = e.find("input[type='text'],input[type='url']"),
                r = !0;
            $(".form-group").removeClass("has-error");
            for (var n = 0; n < s.length; n++) s[n].validity.valid || (r = !1, $(s[n]).closest(".form-group").addClass("has-error"));
            r && a.removeAttr("disabled").trigger("click")
        }), $("div.setup-panel div a.btn-primary").trigger("click"), $(function() {
            $(".dropdown-menu a").click(function() {
                console.log($(this).attr("data-value")), $(this).closest(".dropdown").find("input.options").val($(this).attr("data-value"))
            })
        })
    });
</script>
{% endblock %}

{% block navigation %}
    <a href="{% url 'home' %}" class="btn btn-default"><i class="glyphicon glyphicon-dashboard"></i></a>
    <a href="{% url 'jobs' %}" class="btn btn-default">Jobs</a>
    <a href="{% url 'jobs-yml-based' %}" class="btn btn-default">YML based Jobs</a>
{% endblock %}

{% block tabcontent %}
    <div class="stepwizard col-md-offset-3">
        <div class="stepwizard-row setup-panel">
          <div class="stepwizard-step">
            <a href="#step-1" type="button" class="btn btn-primary btn-circle">1</a>
            <p>Pick Template</p>
          </div>
          <div class="stepwizard-step">
            <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
            <p>Define Tasks</p>
          </div>
          <div class="stepwizard-step">
            <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
            <p>Set Values</p>
          </div>
          <div class="stepwizard-step">
            <a href="#step-4" type="button" class="btn btn-default btn-circle" disabled="disabled">4</a>
            <p>Trigger Job</p>
          </div>
        </div>
    </div>
    <hr/>
    <div id="jobTemplate" style="min-height:400px">
        {% tag_job_form 'dummy' %}
    </div>
{% endblock %}
