{% extends "jobs/jobs_base.html" %}
{% load custom_tags %}

{% block extrascript %}
<link rel="stylesheet" type="text/css" href="/static/css/diff2html.css">
<style type="text/css">
    .list-group-item-text{
        max-height: 300px;
        margin-bottom: 10px;
        overflow-y:scroll;
        -webkit-overflow-scrolling: touch;
    }
</style>
<script type="text/javascript" src="/static/js/diff2html.js"></script>
<script type="text/javascript" src="/static/js/diff2html-ui.js"></script>
<script type="text/javascript">
    var diffHtml=Diff2Html.getPrettyHtml("{{ log.job_output_json|get_item:'full_diff'|escapejs }}",{inputFormat:"diff",showFiles:!0,matching:"lines",outputFormat:"side-by-side"});function copyToClipboard(t,o){var e=document.queryCommandSupported("copy"),i=o.attr("data-original-title");if(!0===e){var a=document.createElement("textarea");a.value=t,document.body.appendChild(a),a.select();try{var d=document.execCommand("copy")?"Copied!":"Whoops, not copied!";o.attr("data-original-title",d).tooltip("show")}catch(t){console.log("Oops, unable to copy")}document.body.removeChild(a),o.attr("data-original-title",i)}else window.prompt("Copy to clipboard: Ctrl+C or Command+C, Enter",t)}$(document).ready(function(){$("#tab-logs").addClass("active"),$("#diffDiv").html(diffHtml),$(".js-tooltip").tooltip(),$(".js-copy").click(function(){copyToClipboard($(this).attr("data-copy"),$(this))})});
</script>
{% endblock %}

{% block navigation %}
    <a href="{% url 'home' %}" class="btn btn-default"><i class="glyphicon glyphicon-dashboard"></i></a>
    <a href="{% url 'jobs' %}" class="btn btn-default">Jobs</a>
    <a href="{% url 'jobs-logs' %}" class="btn btn-default">Logs</a>
    <div class="btn btn-default disabled">Detail</div>
{% endblock %}

{% block tabcontent %}
<h4>Job ID: {{ log.job_uuid }}&nbsp;&nbsp;<small>{{ log.job_start_time|date }}</small></h4>
<p>
    <span class="text-info">Type#</span> {{ log.job_type|title }}
    {% if log.job_remarks %}&nbsp;&nbsp;<span class="text-info">Remarks#</span> {{ log.job_remarks }}{% endif %}
    {% if log.job_params_json %}<br/><span class="text-info">Params#</span>
        {% for param, value in log.job_params_json.items %}
            <span class="text-muted">{{ param|title }}: </span>{{ value }}&nbsp;&nbsp;
        {% endfor %}
    {% endif %}
    <span class="pull-right">
        {% if log.job_result %}
            <span class="text-success"><span class="glyphicon glyphicon-ok-circle"></span> Succeed</span>
        {% else %}
            <span class="text-danger"><span class="glyphicon glyphicon-remove-circle"></span> Failed</span>
        {% endif %}
    </span>
</p>
<hr/>
<div class="panel-body">
    <p><span class="glyphicon glyphicon-time" aria-hidden="true"></span><span class="text-info">
        {% if log.job_start_time %}Started at <strong>{{ log.job_start_time|time:"H:i:s" }}</strong>{% endif %}
        {% if log.job_end_time %} and completed at <strong>{{ log.job_end_time|time:"H:i:s" }}</strong>
        &nbsp;&nbsp;<em>({{ log.duration|floatformat:"0" }} seconds)</em>{% endif %}</span>
        {% if log.job_visible_on_url %}
            <span class="pull-right">
                <span class="input-group">
                  <span class="input-group-btn">
                    <button class="btn btn-default btn-copy js-tooltip js-copy" type="button" data-toggle="tooltip"
                            data-placement="bottom" data-copy="{{ request.build_absolute_uri }}{{ object.get_absolute_url }}"
                            title="Copy to clipboard">Copy Job URL
                        <span class="glyphicon glyphicon-share"></span></button>
                  </span>
                </span>
            </span>
        {% endif %}
    </p>
    <hr/>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                {% if log.job_yml_text %}
                    <h4>Job YML <small>(input)</small></h4>
                    <textarea class="form-control" rows="20" readonly>{{ log.job_yml_text }}</textarea>
                {% endif %}
            </div>
            <div class="col-sm-6 col-md-8">
                <div class="list-group">
                    <h4>Job Log <small>(output)</small></h4>
                    {% for task, details in log.job_log_json.items %}
                    <a href="#" class="list-group-item">
                      <h4 class="list-group-item-heading">{{ task }}</h4>
                        {% for datetime, event in details.items|dictsortreversed:0 %}
                            <p class="list-group-item-text">
                                <strong>{{ datetime|truncatechars:22 }}&nbsp;&nbsp;&nbsp;</strong>
                                <span class="text-muted">{{ event }}</span>
                            </p>
                        {% endfor %}
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% if 'full_diff' in log.job_output_json %}
        <div class="col-sm-6 col-md-12">
            <hr/>{% if log.job_output_json|get_item:'diff_count' == 0 %}
                <h4 class="text-success">&nbsp;&nbsp;{{ log.job_output_json|get_item:'diff_count' }} <small>messages differ!</small></h4>
            {% else %}
                <h4 class="text-danger">&nbsp;&nbsp;{{ log.job_output_json|get_item:'diff_count' }} <small>messages differ! <i class="pull-right">May be new or updated.</i></small></h4>
                {% if 'pot_diff' in log.job_output_json %}
                    <pre>{{ log.job_output_json|get_item:'pot_diff' }}</pre>
                {% endif %}
            {% endif %}<hr/>
            <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#diff">Show Full Diff</button>
            <span class="text-muted pull-right">
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                POT at Translation Platform <strong>vs</strong> POT created from Source</span>
            <div id="diff" class="collapse">
                <br/><div id="diffDiv"></div>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
