{% extends "jobs/jobs_base.html" %}
{% load custom_tags %}

{% block extrascript %}
<link rel="stylesheet" type="text/css" href="/static/diff2html/dist/diff2html.css">
<style type="text/css">
    .list-group-item-text{max-height:300px;margin-bottom:10px;overflow-y:scroll;-webkit-overflow-scrolling:touch}
</style>
<script type="text/javascript" src="/static/diff2html/dist/diff2html.js"></script>
<script type="text/javascript" src="/static/diff2html/dist/diff2html-ui.js"></script>
<script type="text/javascript">
    var diffHtml=Diff2Html.getPrettyHtml("{{ log.job_output_json|get_item:'full_diff'|escapejs }}",{inputFormat:"diff",showFiles:!0,matching:"lines",outputFormat:"side-by-side"});function copyToClipboard(t,o){var e=document.queryCommandSupported("copy"),i=o.attr("data-original-title");if(!0===e){var a=document.createElement("textarea");a.value=t,document.body.appendChild(a),a.select();try{var d=document.execCommand("copy")?"Copied!":"Whoops, not copied!";o.attr("data-original-title",d).tooltip("show")}catch(t){console.log("Oops, unable to copy")}document.body.removeChild(a),o.attr("data-original-title",i)}else window.prompt("Copy to clipboard: Ctrl+C or Command+C, Enter",t)}$(document).ready(function(){$("#tab-logs").addClass("active"),$("#diffDiv").html(diffHtml),$(".js-tooltip").tooltip(),$(".js-copy").click(function(){copyToClipboard($(this).attr("data-copy"),$(this))})});
</script>
{% endblock %}

{% block pagecontent %}

<div class="row row-cards-pf">
  <div class="col-xs-12">
    <div class="card-pf card-pf-utilization" id="card-packages-summary">
      <div class="card-pf-heading">
        <h1 class="card-pf-title">Job ID: {{ log.job_uuid }}</h1>
      </div>
      <div class="card-pf-body">

        <p class="lead">
            <span class="text-info">Type#</span> {{ log.job_type|title }}
            {% if log.job_remarks %}&nbsp;&nbsp;<span class="text-info">Remarks#</span> {{ log.job_remarks }}{% endif %}
            {% if log.job_params_json %}<br/><span class="text-info">Params#</span>
                {% for param, value in log.job_params_json.items %}
                    <span class="text-muted">{{ param|title }}: </span>{{ value }}&nbsp;&nbsp;
                    {% if log.job_params_json|length > 3 and forloop.counter == 3 %}<br/>{% endif %}
                {% endfor %}
            {% endif %}
            <span class="pull-right">
                {% if log.job_result %}
                    <span class="text-success"><span class="pficon pficon-ok"></span> Succeed</span>
                {% else %}
                    <span class="text-danger"><span class="pficon pficon-error-circle-o"></span> Failed</span>
                {% endif %}
            </span>
        </p>
        <hr/>
        <div class="panel-body">
            <h4><span class="fa fa-clock-o" aria-hidden="true"></span>
                <span>
                {% if log.job_start_time %}<span class="text-info">{{ log.job_start_time|date }}</span> - started at
                    <span class="text-info">{{ log.job_start_time|time:"H:i:s" }}</span>{% endif %}
                {% if log.job_end_time %} and completed at <span class="text-info">{{ log.job_end_time|time:"H:i:s" }}</span>
                    &nbsp;&nbsp;<em>( <span class="text-info">{{ log.duration|floatformat:"0" }}</span> seconds )</em>{% endif %}</span>
                {% if log.job_visible_on_url %}
                    <span class="pull-right">
                        <button class="btn btn-default btn-copy js-tooltip js-copy" type="button" data-toggle="tooltip"
                                data-placement="bottom" data-copy="{{ request.build_absolute_uri }}{{ object.get_absolute_url }}"
                                title="Copy URL"><span class="fa fa-clipboard"></span></button>
                        <a href="{{request.META.HTTP_REFERER}}" class="btn btn-default">Go Back</a>
                    </span>
                {% endif %}
            </h4><hr/>{% tag_job_analysis log.job_log_json %}
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        {% if log.job_yml_text %}
                            <h2>Job YML <small>(input)</small></h2>
                            <textarea class="form-control" style="background:#212121;color:white" rows="25" readonly>{{ log.job_yml_text }}</textarea>
                        {% endif %}
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h2>Job Log <small>(output)</small></h2>
                        {% for task, details in log.job_log_json.items %}
                        <div class="list-group-item">
                          <h3 class="list-group-item-heading">{{ task }}</h3>
                            {% for datetime, event in details.items|dictsortreversed:0 %}
                                <p class="list-group-item-text">
                                    <strong>{{ datetime|truncatechars:22 }}&nbsp;&nbsp;&nbsp;</strong>
                                    <span class="text-muted">
                                        <pre class="ts-pre" style="max-height:400px;overflow-y:scroll !important;">{{ event.strip|pprint }}</pre>
                                    </span>
                                </p>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% if 'full_diff' in log.job_output_json %}
                <div class="col-sm-6 col-md-12">
                    <hr/>{% if log.job_output_json|get_item:'diff_count' == 0 %}
                        <h4 class="text-success">&nbsp;&nbsp;{{ log.job_output_json|get_item:'diff_count' }} <small>messages differ!</small></h4>
                    {% else %}
                        <h4 class="text-danger">&nbsp;&nbsp;{{ log.job_output_json|get_item:'diff_count' }} <small>messages differ! <i class="pull-right">May be new or updated.</i></small></h4>
                        {% if 'pot_diff' in log.job_output_json %}
                            <pre>{{ log.job_output_json|get_item:'pot_diff' }}</pre>
                        {% endif %}
                    {% endif %}<hr/>
                    <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#diff">Show Full Diff</button>
                    <span class="text-muted pull-right">
                    <span class="pficon pficon-info" aria-hidden="true"></span>
                        POT at Translation Platform <strong>vs</strong> POT created from Source</span>
                    <div id="diff" class="collapse">
                        <br/><div id="diffDiv"></div>
                    </div>
                </div>
            {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
