[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=transtats
Group=nginx
WorkingDirectory=/home/transtats/transtats
ExecStart=/home/transtats/transtats/projectenv/bin/gunicorn --workers 3 --bind unix:/home/transtats/transtats/transtats/transtats.sock transtats.wsgi:application

[Install]
WantedBy=multi-user.target
