/* TODO: to be removed
.nav-tabs { border-bottom: 2px solid #DDD; }
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
    .nav-tabs > li > a { border: none; color: #666; }
        .nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #4285F4 !important; background: transparent; }
        .nav-tabs > li > a::after { content: ""; background: #4285F4; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
    .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 15px 0; }
.tab-content{padding:20px}

*/

/* Transtats custom CSS */
.cards-ts {
    background: #f0f0f0;
}
.container-cards-pf {
    margin-bottom: 20px;
}

/* TODO: May not be required */
.scrollable-menu {
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
}

/*
>>>>>>> [UI] Modify base.html to use PatternFly
body {
    padding-top: 50px;
    padding-bottom: 10px
}
.content-area {
    padding: 20px;
    min-height: 600px
}
.ribbon {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    z-index: 9999
}
.modal-open {
    position: fixed;
    overflow: scroll;
    width: 100%;
    padding-right: 0!important
}
.btn-logout {
    width: 100%;
    padding: 3px 20px!important;
    text-align: left!important
}
.nounderline {
    text-decoration: none
}

*/
>>>>>>> [UI] Modify base.html to use PatternFly
