/* Transtats custom CSS */
.cards-ts {
    background: #f0f0f0;
}
.cursor-pointer-ts {
    cursor: pointer;
}
.container-cards-pf {
    margin-bottom: 20px;
}
.label-lang-set-ts {
    display:inline-block;
    padding-top: 0.3em;
    margin-top: 0.25em;
}
.icon-disabled-ts:before{
    color: #363636;
    font-size: 1.168em;
}
.spinner-wait-ts {
    position: fixed;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 1000;
}

.navbar-pf-vertical {
    background-image: url('/static/img/navbar.png');
    background-color: #007a87;
    background-position: right;
    background-repeat: no-repeat;
}

.card-pf-view-edit-ts {
    position: absolute;
    top: 11px;
    right: 15px;
}

.about-modal-pf {
    background-color: #003d44;
    background-image: url(/static/img/bg-modal-about.png), url(/static/img/bg-modal-about-upper.png);
    background-position: right bottom, left top;
    background-repeat: no-repeat, no-repeat;
    background-size: 250px, 100px;
}

.blank-state-ts {
    background-color: inherit;
    border: none;
}

.graph-area-ts {
    width:100%;
    min-height:600px
}

.panel-border-ts {
    overflow-x: auto;
    border-color: #39a5dc;
}

.panel-footer {
    overflow: auto;
}

.card-releases-ts {
    box-shadow: 0px 0px 3px 2px rgba(3, 3, 3, 0.175);
}

@media (min-width: 992px){
    .list-view-pf .list-group-item-heading {
        font-size: initial;
    }
}

.card-pf-footer {
    overflow: auto;
}

.vert-scroll-div-ts {
    max-height: 470px;
    overflow-y: auto;
}

/*
body {
    padding-top: 50px;
    padding-bottom: 10px
}
.content-area {
    padding: 20px;
    min-height: 600px
}
.ribbon {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    z-index: 9999
}
.modal-open {
    position: fixed;
    overflow: scroll;
    width: 100%;
    padding-right: 0!important
}
.btn-logout {
    width: 100%;
    padding: 3px 20px!important;
    text-align: left!important
}
.nounderline {
    text-decoration: none
}
*/
