/* TODO: to be removed
.nav-tabs { border-bottom: 2px solid #DDD; }
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
    .nav-tabs > li > a { border: none; color: #666; }
        .nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #4285F4 !important; background: transparent; }
        .nav-tabs > li > a::after { content: ""; background: #4285F4; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
    .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 15px 0; }
.tab-content{padding:20px}

*/

/* Transtats custom CSS */
.cards-ts {
    background: #f0f0f0;
}
.cursor-pointer-ts {
    cursor: pointer;
}
.container-cards-pf {
    margin-bottom: 20px;
}
.label-lang-set-ts {
    display:inline-block;
    padding-top: 0.3em;
    margin-top: 0.25em;
}
.icon-disabled-ts:before{
    color: #363636;
    font-size: 1.168em;
}
.spinner-wait-ts {
    position: fixed;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 1000;
}

/* TODO: May not be required */
.scrollable-menu {
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
}

.navbar-pf-vertical {
    background-image: url('/static/img/navbar.png');
    background-color: #007a87;
    background-position: right;
    background-repeat: no-repeat;
}

.card-pf-view-edit-ts {
    position: absolute;
    top: 11px;
    right: 15px;
}

.about-modal-pf {
    background-color: #003d44;
    background-image: url(/static/img/bg-modal-about.png), url(/static/img/bg-modal-about-upper.png);
    background-position: right bottom, left top;
    background-repeat: no-repeat, no-repeat;
    background-size: 250px, 100px;
}

.blank-state-ts {
    background-color: inherit;
    border: none;
}

.graph-area-ts {
    width:100%;
    min-height:600px
}

.legend-area-ts {
    border-bottom-color: #ddd;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.legend-area-ts, td {
    padding: 1px 3px 3px 1px;
}

.panel-border-ts {
    overflow-x: auto;
    border-color: #39a5dc;
}

.panel-footer {
    overflow: auto;
}

.card-releases-ts {
    box-shadow: 0px 0px 3px 2px rgba(3, 3, 3, 0.175);
}

@media (min-width: 992px){
    .list-view-pf .list-group-item-heading {
        font-size: initial;
    }
}

.card-pf-footer {
    overflow: auto;
}

.vert-scroll-div-ts {
    max-height: 340px;
    overflow-y: auto;
}

.map-container {
    width: 100%;
    min-height: 420px;
    position: relative;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

body {
    padding-top: 50px;
    padding-bottom: 10px
}
.content-area {
    padding: 20px;
    min-height: 750px
}

.content-area-2 {
    min-height: 750px
}

.sub-content-area {
    padding-left: 1%;
    padding-right: 1%;
}

.ribbon {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    z-index: 9999
}

.modal-open {
    position: fixed;
    overflow: scroll;
    width: 100%;
    padding-right: 0!important
}

.btn-logout {
    width: 100%;
    text-align: left!important;
    text-decoration: none;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none
}

.nounderline {
    text-decoration: none
}

.ts-pre {
    white-space: pre-line;
    background: #212121;
    color: white;
}

.ts-loc-summary-card {
    min-height: 250px;
    overflow-x: auto;
}

.text-faq-ans {
    font-size:13px;
}

.territory-cards-body {
    height: 200px;
}

.territory-cards {
    max-height: 180px;
    overflow-y: scroll;
}

.territory-cards-keyboard {
    max-height: 150px;
    overflow-y: scroll;
}
