{% load custom_tags %}

<div class="panel">
  <div class="panel-body">
    {% if territory_stats %}
      <div class="row row-cards-pf">
        {% for locale, data in territory_stats.items %}
        <div class="col-xs-12 col-sm-4 col-md-4">
          <div class="card-pf card-pf-utilization card-pf-accented">
            <h3 class="card-pf-title">
              <a href="{% url 'language-view' locale %}" style="text-decoration: none !important">
                {{ data|pop_item:"language" }}</a>
            </h3><hr/>
            <div class="card-pf-body" style="min-height:250px">
                {% for rel, stats_data in data.items %}
                  <h4><a href="{% url 'trans-status-release' rel %}" style="text-decoration: none !important">
                    {{ stats_data|pop_item:"Release Name" }}</a>
                    <small class="text-muted pull-right">In messages</small></h4>
                  <table class="table table-striped table-hover">
                    <tr><th>&nbsp;</th><th>Untranslated</th><th>Translated</th><th>Total</th></tr>
                  {% for source, stats in stats_data.items %}
                    <tr>
                      <td>{{ source }}</td>
                      <td>{{ stats.0 }}</td>
                      <td>{{ stats.1 }}</td>
                      <td>{{ stats.2 }}</td>
                    </tr>
                  {% endfor %}
                  </table>
                {% endfor %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    {% else %}
    <div class="blank-slate-pf blank-state-ts" id="blank-slate-releases-summary">
      <div class="blank-slate-pf-icon">
        <span class="fa fa-refresh"></span>
      </div>
      <h1>
        Territory summary not found.
      </h1>
      <p>
        Reports for this territory are not generated!
      </p>
      <p>
        Learn more about this
        <a href="#">on the documentation</a>.
      </p>
      <div class="blank-slate-pf-main-action">
        <button class="btn btn-primary btn-lg" id="blank-state-button-update-summary" onclick="refresh_location_summary();"> Update the reports </button>
      </div>
    </div>
    {% endif %}
  </div>
  {% if territory_stats %}
  <div class="panel-footer">
      <span class="text-info">Based on package statistics, pulled from different places,
        which are summed up as per release branch mapping and then grouped by languages.</span>
        <span class="pull-right">Updated <span class="text-info">{{ last_updated|timesince }}</span> ago</span>
  </div>
  {% endif %}
</div>
