{% extends "base.html" %}
{% load custom_tags %}
{% block extrascript %}
<script src="/static/c3/c3.min.js"></script>
<script src="/static/d3/d3.min.js"></script>
<script src="/static/js/csrf.js"></script>
<script src="/static/bootstrap-select/js/bootstrap-select.js"></script>
{% endblock %}

{% block pagecontent %}
<div class="panel panel-default">
  <div class="panel-heading">
      {% if locale_lang %}
        <select id="select-lang-name" class="selectpicker" data-live-search="true">
          <option selected disabled>Select Language</option>
          {% for locale, lang in locale_lang %}
          <option value="{{ locale }}">{{ lang }}</option>
          {% endfor %}
        </select>
      {% endif %}
      <span class="pull-right">
        <a href="{% url 'settings-languages' %}" class="btn btn-default btn-small">List Languages</a>
        <a href="{{request.META.HTTP_REFERER}}" class="btn btn-default btn-small">Go Back</a>
      </span>
  </div>
  <div class="panel-body">
      <h1>{{ language.lang_name }}
          <small>
              {% if language.locale_id %}{{ language.locale_id }}{% endif %}
              {% if language.locale_alias %} | {{ language.locale_alias }}{% endif %}
              {% if language.locale_script %} | {{ language.locale_script }} {% endif %}
          <span class="pull-right">
              {% if last_updated %}Updated <span class="text-info">{{ last_updated|timesince }}</span> ago{% endif %}
          </span></small>
      </h1><hr/>
      <div class="row row-cards-pf">
        {% for release, details in release_summary.items %}
        <div class="col-xs-12 col-sm-4 col-md-3">
          <div class="card-pf card-pf-utilization card-pf-accented">
            <h2 class="card-pf-title">
                {{ release }}
            </h2><hr/>
            <div class="card-pf-body" style="min-height:320px">
                <div style="padding-left:7%">
                {% if details|get_item:"languages"|get_item:language.lang_name %}
                    {% with stats=details|get_item:"languages"|get_item:language.lang_name %}
                        <h3 class="text-info">Translation Platform Statistics</h3>
                        <h5 class="text-muted">Combined for all packages.</h5>

                        <div id="donut-chart-{{ forloop.counter }}" class="example-donut-chart-utilization"></div>

                        <script>
                          var c3ChartDefaults = $().c3ChartDefaults();

                          // Donut configuration
                          var donutConfig{{ forloop.counter }} = c3ChartDefaults.getDefaultDonutConfig('M');

                          donutConfig{{ forloop.counter }}.bindto = '#donut-chart-{{ forloop.counter }}';
                          donutConfig{{ forloop.counter }}.data = {
                            type: "donut",
                            columns: [
                              ["Translated", {{ stats.1 }}],
                              ["Untranslated", {{ stats.0 }}],
                            ],
                            groups: [
                              ["translated", "untranslated"]
                            ],
                            order: null
                          };
                          donutConfig{{ forloop.counter }}.size = {
                            width: 180,
                            height: 180
                          };

                          donutConfig{{ forloop.counter }}.tooltip = {
                            contents: $().pfGetUtilizationDonutTooltipContentsFn('Messages')
                          };

                          c3.generate(donutConfig{{ forloop.counter }});
                          $().pfSetDonutChartTitle("#donut-chart-{{ forloop.counter }}", "{{ stats.1 }}", "Translated");
                        </script>

                        <p>Out of <b>{{ stats.2 }}</b> messages, <b>{{ stats.0 }}</b> remaining to be translated.</p>
                        <a href="{% url 'language-release-view' language.locale_id details|get_item:'slug' %}"
                           class="btn btn-default btn-small">Details</a>
                    {% endwith %}
                {% else %}
                    <h5 class="text-info">Statistics not found.</h5>
                {% endif %}
                </div>
            </div>
          </div>
        </div>
        {% empty %}
          <h5 class="text-info" style="padding-left:2%">Statistics not found.</h5>
        {% endfor %}
      </div>
      {% if language_teams %}
      <h2>Contact Language Team</h2><hr/>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">&nbsp;</th>
              <th scope="col">Translation Platform</th>
              <th scope="col">Language Team</th>
            </tr>
          </thead>
          <tbody>
            {% for platform, lang_team in language_teams.items %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td><a href="{{ platform }}" target="_blank">{{ platform }}</a>
                <span class="fa fa-external-link" aria-hidden="true"></span></td>
              <td><a href="{{ lang_team }}" target="_blank">{{ lang_team }}</a>
                <span class="fa fa-external-link" aria-hidden="true"></span></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
  </div>
</div>

<script>
    $(document).ready(function() {
        $("#select-lang-name").change(function(e) {
            window.location.replace("/languages/view/" + $(this).val())
        })
    });
</script>
{% endblock %}