{% extends "form_base.html" %}
{% block extrascript %}
<script src="/static/bootstrap-switch/dist/js/bootstrap-switch.js"></script>
<script src="/static/bootstrap-select/dist/js/bootstrap-select.js"></script>
{% endblock %}
{% block formtitle %}
Add a new Language Set
{% endblock %}
{% block formreturnurl %}
{% url 'settings-languages' %}
{% endblock %}
{% block formscript %}
<script>
  $(function () {
    $(".bootstrap-switch").bootstrapSwitch();
    $("#id_lang_set_color").prop("type", "color");
    $('.selectpicker').selectpicker();
  });
</script>
{% endblock %}
