{% extends "base.html" %}

{% block pagebanner %}
    <div style="padding:20px">
      <div class="container well well-lg">
        <h2>Sign Up</h2>
        <center>
        <div style="width:700px" align="left">
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon1">@</span>
                      <input type="text" class="form-control" placeholder="Username (email verification)" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="form-group">
                    <div class="">
                        <input type="password" class="form-control" id="inputPassword" placeholder="password">
                    </div>
                </div>
                <div style="padding:15px">
                    <fieldset class="package-info-border">
                        <legend align="left">Package Info</legend>
                        <div class="form-group">
                            <label>Source Code Repository URL</label>
                            <div class="input-group">
                              <span class="input-group-addon" id="repo-prefix">https://github.com/</span>
                              <input type="text" class="form-control" id="package-repo-url" aria-describedby="package-repo-url" placeholder="user-or-organisation/project-name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Translation Platform Project URL</label>
                            <div class="input-group">
                              <span class="input-group-addon" id="l10n-server-prefix">https://fedora.zanata.org/project/view/</span>
                              <input type="text" class="form-control" id="l10n-project-url" aria-describedby="package-repo-url" placeholder="project-id">
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="form-group">
                    <div class="col-xs-offset-3 col-xs-9">
                        <label class="checkbox-inline">
                            <input type="checkbox" value="agree">  I agree to the <a href="#">Terms and Conditions</a>.
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-offset-3 col-xs-9">
                        <input type="submit" class="btn btn-primary" value="Submit">
                        <input type="reset" class="btn btn-default" value="Reset">
                    </div>
                </div>
            </form>
        </div>
       </center>
      </div>
    </div>
{% endblock %}

{% block footer %}
    <hr>
    <footer>
        <div class="container">
            <p>&copy; 2016 Translation Analytics | <a href="{% url 'home' %}">Home</a> | <a href="#">Privacy Policy</a> | <a href="#">Terms and Conditions</a></p>
        </div>
    </footer>
{% endblock %}