<div class="row">
    <div class="col-md-4">
        <h2>Releases</h2>
        <div class="text-muted">Translation Update Volume<br/>Packages across translation platforms<br/>
        At a glance translation picture, release by release</div>
    </div>
    <div class="col-md-4">
        <h2>Packages</h2>
        <div class="text-muted">Out of Sync Packages<br/>Translation Gaps. Platform Vs Build System<br/>
        Languages which need attention per package</div>
    </div>
    <div class="col-md-4">
        <h2>Jobs</h2>
        <div class="text-muted">YAML Based. Flexible<br/>Locate translation string change<br/>
        Sync package source repo and build system</div>
    </div>
</div>
