{% extends "base.html" %}

{% block pagebanner %}
    <div class="page-header">
      <h1>App features <small>and how it works...</small></h1>
    </div>
{% endblock %}

{% block extrascript %}
<style type="text/css">
    img {
      display: block;
      max-width:150px;
      max-height:150px;
      width: auto;
      height: auto;
    }
</style>
{% endblock %}

{% block pagecontent %}
<div style="padding-left:100px">
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-5">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h3 class="section-heading">Track translation progress</h3>
                    <p style="font-size: medium;" class="text-justify">In development of localised software, translation progress needs to be monitored. {{ app_name }} collects templates, figure-out their translations, analyse statistics and generate graphs.</p>
                </div>
                <div class="col-lg-4 col-lg-offset-1 col-sm-5">
                    <hr class="section-heading-spacer">
                    <img class="img-responsive" src="/static/img/chart.png" alt="">
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-1 col-sm-push-4  col-sm-5">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h3 class="section-heading">Graph rules for custom needs</h3>
                    <p style="font-size: medium;" class="text-justify">How about consolidate stats for the list of packages for a language set? Graph based on rules facilitate representation of stats for more specific requirements for better results.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-4  col-sm-5">
                    <hr class="section-heading-spacer">
                    <img class="img-responsive" src="/static/img/custom.png" alt="">
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>

    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-5">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h3 class="section-heading">Compare with release streams</h3>
                    <p style="font-size: medium;" class="text-justify">Sometimes translation platform shows good progress yet it is found that package released does not contain the latest. {{ app_name }} never let you miss string freeze and ensure to bundle the latest.</p>
                </div>
                <div class="col-lg-4 col-lg-offset-1 col-sm-5">
                    <hr class="section-heading-spacer">
                    <img class="img-responsive" src="/static/img/check.png" alt="">
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-a -->
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-1 col-sm-push-4  col-sm-5">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h3 class="section-heading">Frequent sync with repositories</h3>
                    <p style="font-size: medium;" class="text-justify">{{ app_name }} pulls data from code and translation repositories at regular intervals to ensure correct and latest data representations. Snapshots are also kept to manage diffs and growth analysis.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-4  col-sm-5">
                    <hr class="section-heading-spacer">
                    <img class="img-responsive" src="/static/img/sync.png" alt="">
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
</div>
{% endblock %}