<!-- Marked for deletion -->
{% extends "base.html" %}

{% block pagebanner %}
    <div style="padding-left:20px">
      <h1>About&nbsp;&nbsp;&nbsp;&nbsp;<small>{{ description }} ...</small></h1>
      {% include 'summary.html' %}
    </div>
{% endblock %}

{% block pagecontent %}
    <ul class="nav nav-tabs nav-justified">
      <li id="tab-translation-status" role="presentation">
          <a href="{% url 'trans-status' %}">Translation Status</a>
      </li>
      <li id="tab-translation-coverage" role="presentation">
          <a href="{% url 'custom-graph' %}">Translation Coverage</a>
      </li>
    </ul>
    {% block tabcontent %}{% endblock %}
{% endblock %}
