{% extends "base.html" %}

{% block pagebanner %}
    <div class="page-header">
      <h1>About <small>{{ description }}</small></h1>
    </div>
{% endblock %}

{% block pagecontent %}
    <ul class="nav nav-tabs nav-justified">
      <li id="tab-translation-position" role="presentation" class="active">
          <a href="{% url 'home' %}">Translation Position</a>
      </li>
      <li id="tab-translation-coverage" role="presentation">
          <a href="#">Translation Coverage</a>
      </li>
      <li id="tab-compare-downstream" role="presentation">
          <a href="#">Compare with Downstream</a>
      </li>
    </ul>
    {% block tabcontent %}{% endblock %}
{% endblock %}
