{% extends "base.html" %}

{% block extrascript %}
<style type="text/css">
    img {
      display: block;
      max-width:300px;
      max-height:250px;
      width: auto;
      height: auto;
    }
</style>
{% endblock %}

{% block pagecontent %}
<div class="row row-cards-pf">
  <div class="col-xs-12">
    <div class="card-pf card-pf-utilization" id="card-packages-summary">
      <div class="card-pf-heading">
        <h1 class="card-pf-title">How To <small>&nbsp;Getting started with {{ app_name }} ...</small></h1>
      </div>
      <div class="card-pf-body">

        <div style="padding-left:100px">
            <div class="content-section-a">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-sm-5">
                            <hr class="section-heading-spacer">
                            <div class="clearfix"></div>
                            <h2 class="section-heading">Check Inventory</h2>
                            <p style="font-size: medium;" class="text-justify">Graphs will be generated for enabled languages, aliases are used while syncing. One can create a language set, which can be associated with a release branch. Multiple instances of a translation platform can be added. A release branch (for example - Fedora 28) should have a language set and a schedule. {{ app_name }} jobs sync with upstream repository, translation platform and build system to keep stats, build tags and schedule latest.</p>
                        </div>
                        <div class="col-lg-4 col-lg-offset-1 col-sm-5">
                            <hr class="section-heading-spacer">
                            <img class="img-responsive" src="/static/img/inventory.png" alt="">
                        </div>
                    </div>
                </div>
                <!-- /.container -->
            </div>
            <!-- /.content-section-a -->

            <div class="content-section-b">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-lg-offset-1 col-sm-push-4  col-sm-5">
                            <hr class="section-heading-spacer">
                            <div class="clearfix"></div>
                            <h2 class="section-heading">Add and Configure Packages</h2>
                            <p style="font-size: medium;" class="text-justify">While adding a package, upstream URL is required. And package name is verified with selected translation platform. Translation of a package can be tracked for multiple release streams. Package should be sync'd with translation platform and build system. Once sync'd, branch mapping can be created. It maps {{ app_name }} release branches with most suitable project versions available at translation platform and with appropriate build tags. Package can be sync'd with upstream repo as well.</p>
                        </div>
                        <div class="col-lg-5 col-sm-pull-6  col-sm-5">
                            <hr class="section-heading-spacer">
                            <img class="img-responsive" src="/static/img/package.png" alt="">
                        </div>
                    </div>
                </div>
                <!-- /.container -->
            </div>

            <div class="content-section-a">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-sm-5">
                            <hr class="section-heading-spacer">
                            <div class="clearfix"></div>
                            <h2 class="section-heading">Generate Diff</h2>
                            <p style="font-size: medium;" class="text-justify">Once we have all versions / tags mentioned in branch mapping of a package sync'd with either translation platform or build system, differences can be created and observed. This answers - for a package - latest translations are packaged or not? If not, is some patch applied at the last moment? Which languages need attention?</p>
                        </div>
                        <div class="col-lg-5 col-lg-offset-1 col-sm-5">
                            <hr class="section-heading-spacer">
                            <img class="img-responsive" src="/static/img/diff.png" alt="">
                        </div>
                    </div>
                </div>
                <!-- /.container -->
            </div>
            <!-- /.content-section-a -->
            <div class="content-section-b">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-lg-offset-1 col-sm-push-4  col-sm-5">
                            <hr class="section-heading-spacer">
                            <div class="clearfix"></div>
                            <h2 class="section-heading">Add Graph Rule</h2>
                            <p style="font-size: medium;" class="text-justify">Translation coverages (translation status of a group of packages in a set of languages to a given release) are based on rules. Slug form of rule name would be saved. This should be specific for a release branch. Packages having branch mapping created can only be included here. Languages could be picked from language set associated with the release branch or from enabled ones. Somehow if a package is not tracked for a release stream and selected for inclusion {{ app_name }} would show an error.</p>
                        </div>
                        <div class="col-lg-5 col-sm-pull-6  col-sm-5">
                            <hr class="section-heading-spacer">
                            <img class="img-responsive" src="/static/img/graphrule.png" alt="">
                        </div>
                    </div>
                </div>
                <!-- /.container -->
            </div>
            <div class="content-section-a">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-sm-5">
                            <hr class="section-heading-spacer">
                            <div class="clearfix"></div>
                            <h2 class="section-heading">Experience</h2>
                            <p style="font-size: medium;" class="text-justify">{{ app_name }} has two traversal options: releases and packages. One can see high level summary and can pick any one release or a package for details. Summary can tell you - packages which are out of sync, translation workload estimate for each language per release, and much more. Detailed views contain language wise stats, translation position etc. Another form is coverage, which depends on graph rules and branch mapping.</p>
                        </div>
                        <div class="col-lg-5 col-lg-offset-1 col-sm-5">
                            <hr class="section-heading-spacer">
                            <img class="img-responsive" src="/static/img/graph.png" alt="">
                        </div>
                    </div>
                </div>
                <!-- /.container -->
            </div>
            <hr/>
            <div style="padding:10px;text-align:justify">
                <h2 class="text-default">FAQs</h2><br/>
                <h4>Is {{ app_name }} project opensource? Where we have docs written?</h4>
                <span class="text-muted">Yes. Source is available at <a href="https://github.com/transtats" target="_blank">GitHub</a></span>. Projects website is <a href="http://transtats.org/" target="_blank">transtats.org</a> and point your browser to <a href="http://docs.transtats.org/" target="_blank">docs.transtats.org</a> for docs.
                <h4>Which translation platforms and build systems are currently supported?</h4>
                <span class="text-muted">{{ app_name }} supports <a href="https://l10n.gnome.org/" target="_blank">DamnedLies</a> and <a href="http://zanata.org" target="_blank">Zanata</a>. {{ app_name }} can talk to <a href="https://koji.fedoraproject.org/koji/" target="_blank">koji</a> build system.</span>
                <h4>What is branch mapping? And why is it important?</h4>
                <span class="text-muted">Every package has its own branch mapping. This establishes mapping between:
                    <br/><mark>{{ app_name }} <b>release_branch</b> :: translation platform <b>project_version</b> :: build system <b>build_tag</b></mark><br/>On the basis of this, translation differences/gaps are calculated/located.</span>
                <h4>How to figure out which languages need attention for any of the packages?</h4>
                <span class="text-muted">Please navigate to package details page. Sync the package with translation platform and build system. Use shortcuts. Update branch mapping.<br/>Once all the branches mapped got sync'd, update statistics diff. Here you could find an answer to this!</span>
                <h4>What jobs are available?</h4>
                <span class="text-muted">Broadly two categories: <i>Predefined</i> and <i>YAML based</i>.<br/>Predefined jobs fill data required by various work flows. <b>syncbuildtags</b> should be run first (one-time), as it is required for branch mapping and <i>syncdownstream</i> job. Three templates are available in YAML based jobs: <i>syncupstream</i>, <i>syncdownstream</i> and <i>stringchange</i>.</span>
                <h4>Why YAML based jobs are introduced?</h4>
                <span class="text-muted">YAML based jobs add great level of flexibility by broadening capabilities to interact with build systems, translation platforms and source repositories.</span>
                <h4>Which YAML job to run when and why?</h4>
                <span class="text-muted">
                    They can be run in any order. Just that required values should be obeyed.
                    <ul>
                        <li>To collect translation statistics from package source repository, <i>syncupstream</i> job can be triggered. This job can only be run for added packages.</li>
                        <li>Using <i>syncdownstream</i> job, one can inspect translation files and generate statistics in latest built SRPM. Applies patches (in SPEC file) also.</li>
                        <li>Translation string change can be detected using <i>stringchange</i> job. This is highly flexible. Requires package branch mapping and POT command.</li>
                    </ul>
                </span>
                <h4>How to look and share for details about a YAML job ran?</h4>
                <span class="text-muted">Please navigate to job log details page. Here you would find the YAML supplied to the job and respective output of each task. If the job type is <i>stringchange</i> msgid diff found in translation template would be available along with full line-by-line file diff. This URL can be copied and shared.</span>
                <h4>I like the idea and want to contribute, how should I start?</h4>
                <span class="text-muted">Please look out for <a href="https://github.com/transtats/transtats/blob/devel/CONTRIBUTING.md" target="_blank">contributing guide</a> to get you started.</span>
                <h4>While working with {{ app_name }} I got an issue, how should I report it?</h4>
                <span class="text-muted">You're welcome! Please create a <a href="https://github.com/transtats/transtats/issues/new" target="_blank">GitHub Issue</a> or join #transtats channel at IRC freenode.</span>
                <h4>Where to find what features will be available in coming {{ app_name }} release?</h4>
                <span class="text-muted">Please see <a href="http://docs.transtats.org/en/latest/roadmap.html" target="_blank">Roadmap</a> section in docs. You may also like going through <a href="https://github.com/transtats/transtats/blob/devel/CHANGELOG.md" target="_blank">changelog</a>.</span>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
