{% extends "base.html" %}

{% block pagebanner %}
    <div class="page-header">
      <h1>Sign Up <small>register your packages with {{ app_name }}</small></h1>
    </div>
{% endblock %}

{% block navigation %}
    <a href="{% url 'home' %}" class="btn btn-default"><i class="glyphicon glyphicon-home"></i></a>
    <a href="{% url 'register' %}" class="btn btn-default">Sign Up</a>
{% endblock %}

{% block pagecontent %}
    <center>
    <div style="width:800px" align="left" class="container well well-lg">
        <form class="form-horizontal" style="padding:30px">
            <fieldset class="package-info-border">
                <legend align="left">Login Details</legend>
                <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon1">@</span>
                      <input type="text" class="form-control" placeholder="Username (email verification)" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="form-group">
                    <div class="">
                        <input type="password" class="form-control" id="inputPassword" placeholder="password">
                    </div>
                </div>
            </fieldset>
            <fieldset class="package-info-border">
                <legend align="left">Package Info</legend>
                <div class="form-group">
                    <label>Source Code Repository URL</label>
                    <div class="input-group">
                      <span class="input-group-addon" id="repo-prefix">https://github.com/</span>
                      <input type="text" class="form-control" id="package-repo-url" aria-describedby="package-repo-url" placeholder="user-or-organisation/project-name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Translation Platform Project URL</label>
                    <div class="input-group">
                      <span class="input-group-addon" id="l10n-server-prefix">https://translate.zanata.org/project/view/</span>
                      <input type="text" class="form-control" id="l10n-project-url" aria-describedby="package-repo-url" placeholder="project-id">
                    </div>
                </div>
            </fieldset>
            <div class="form-group">
                <div class="col-xs-offset-3 col-xs-9">
                    <label class="checkbox-inline">
                        <input type="checkbox" value="agree">  I agree to the <a href="#">Terms and Conditions</a>.
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-3 col-xs-9">
                    <input type="submit" class="btn btn-primary disabled" value="Submit">
                    <input type="reset" class="btn btn-default" value="Reset">
                </div>
            </div>
        </form>
    </div>
   </center>
{% endblock %}
