<hr/>
<h3><span class="text-muted">{{ locales_len }}</span>
  <small><a href="{% url 'settings-languages' %}">Languages</a></small>&nbsp;&nbsp;&nbsp;
<span class="text-muted">{{ platforms_len }}</span>
  <small><a href="{% url 'settings-trans-platforms' %}">Translation Platforms</a></small>&nbsp;&nbsp;&nbsp;
<span class="text-muted">{{ products_len }}</span>
  <small><a href="{% url 'settings-release-streams' %}">Products</a></small>&nbsp;&nbsp;&nbsp;
<span class="text-muted">{{ releases_len }}</span>
  <small>Releases</small>&nbsp;&nbsp;&nbsp;
<span class="text-muted">{{ packages_len }}</span>
  <small><a href="{% url 'settings-packages' %}">Packages</a></small>&nbsp;&nbsp;&nbsp;
<span class="text-muted">{{ jobs_len }}</span>
  <small><a href="{% url 'jobs-logs' %}">Jobs</a></small>&nbsp;&nbsp;&nbsp;
<span class="text-muted">{{ graph_rules_len }}</span>
  <small><a href="{% url 'settings-graph-rules' %}">Graph Rules</a></small></h3>
