<div class="row row-cards-pf" id="row-status-cards">
  <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="card-pf card-pf-accented card-pf-aggregate-status card-pf-aggregate-status-mini">
      <h2 class="card-pf-title">
        <a href="{% url 'settings-languages' %}">
          <span class="fa fa-language"></span>
          <span class="card-pf-aggregate-status-count">{{ locales_len }}</span> Languages
      </a>
      </h2>
      <div class="card-pf-body">
        <p class="card-pf-aggregate-status-notifications">
          <span class="card-pf-aggregate-status-notification">
            <span class="pficon pficon-ok"></span>
          </span>
        </p>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="card-pf card-pf-accented card-pf-aggregate-status card-pf-aggregate-status-mini">
      <h2 class="card-pf-title">
        <a href="{% url 'settings-trans-platforms' %}">
          <span class="fa fa-server"></span>
          <span class="card-pf-aggregate-status-count">{{ platforms_len }}</span> Translation Platforms
        </a>
      </h2>
      <div class="card-pf-body">
        <p class="card-pf-aggregate-status-notifications">
          <span class="card-pf-aggregate-status-notification">
            <span class="pficon pficon-ok"></span>
          </span>
        </p>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="card-pf card-pf-accented card-pf-aggregate-status card-pf-aggregate-status-mini">
      <h2 class="card-pf-title">
        <a href="{% url 'settings-packages' %}">
          <span class="fa fa-file-zip-o"></span>
          <span class="card-pf-aggregate-status-count">{{ packages_len }}</span> Packages
        </a>
      </h2>
      <div class="card-pf-body">
        <p class="card-pf-aggregate-status-notifications">
          <span class="card-pf-aggregate-status-notification">
            <span class="pficon pficon-ok"></span>
          </span>
        </p>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="card-pf card-pf-accented card-pf-aggregate-status card-pf-aggregate-status-mini">
      <h2 class="card-pf-title">
        <a href="{% url 'jobs' %}">
          <span class="fa fa-bolt"></span>
          <span class="card-pf-aggregate-status-count">{{ jobs_len }}</span> Jobs
        </a>
      </h2>
      <div class="card-pf-body">
        <p class="card-pf-aggregate-status-notifications">
          <span class="card-pf-aggregate-status-notification">
            <span class="pficon pficon-ok"></span>
          </span>
        </p>
      </div>
    </div>
  </div>
</div>
