<script src="/static/c3/c3.min.js"></script>
<script src="/static/d3/d3.min.js"></script>
<script src="/static/bootstrap-select/js/bootstrap-select.js"></script>

<div>
    {% if outofsync_packages and insync_packages and total_packages %}
    <div id="div-donut-chart" class="example-donut-chart-utilization"></div>
    <script>
      var c3ChartDefaults = $().c3ChartDefaults();

      // Donut configuration
      var donutConfig1 = c3ChartDefaults.getDefaultDonutConfig('P');

      donutConfig1.bindto = '#div-donut-chart';
      donutConfig1.color = {
        pattern: ["#CC0000", "#D1D1D1"]
      };
      donutConfig1.data = {
        type: "donut",
        columns: [
          ["Out of Sync", {{ outofsync_packages }}],
          ["In Sync", {{ insync_packages }}],
        ],
        groups: [
          ["outofsync_packages", "insync_packages"]
        ],
        order: null
      };
      donutConfig1.size = {
        width: 180,
        height: 180
      };

      donutConfig1.tooltip = {
        contents: $().pfGetUtilizationDonutTooltipContentsFn('Packages')
      };

      c3.generate(donutConfig1);
      $().pfSetDonutChartTitle("#div-donut-chart", "{{ outofsync_packages }}", "Packages");
    </script>

    <h5>Out of <span class="text-info">{{ total_packages }}</span> packages,
        <span class="text-danger">{{ outofsync_packages }}</span> need attention.</h5>
    <a href="{% url 'settings-packages' %}" class="btn btn-sx">Details</a>

    {% else %}
        <h4 class="text-info" style="padding-top:10%">Data not found.</h4>
    {% endif %}
</div>
