<script src="/static/c3/c3.min.js"></script>
<script src="/static/d3/d3.min.js"></script>
<script src="/static/bootstrap-select/js/bootstrap-select.js"></script>

<h2>Out of Sync <br/><small class="text-muted">
    Statistics differ for messages translated in platform versus packaged.</small></h2>


<div>
    {% if outofsync_packages and insync_packages and total_packages %}
    <div id="div-donut-chart" class="example-donut-chart-utilization"></div>
    <script>
      var c3ChartDefaults = $().c3ChartDefaults();

      // Donut configuration
      var donutConfig1 = c3ChartDefaults.getDefaultDonutConfig('P');

      donutConfig1.bindto = '#div-donut-chart';
      donutConfig1.color = {
        pattern: ["#CC0000", "#D1D1D1"]
      };
      donutConfig1.data = {
        type: "donut",
        columns: [
          ["Out of Sync", {{ outofsync_packages }}],
          ["In Sync", {{ insync_packages }}],
        ],
        groups: [
          ["outofsync_packages", "insync_packages"]
        ],
        order: null
      };
      donutConfig1.size = {
        width: 180,
        height: 180
      };

      donutConfig1.tooltip = {
        contents: $().pfGetUtilizationDonutTooltipContentsFn('Packages')
      };

      c3.generate(donutConfig1);
      $().pfSetDonutChartTitle("#div-donut-chart", "{{ outofsync_packages }}", "Packages");
    </script>

    <h5>Out of <span class="text-info">{{ total_packages }}</span> packages,
        <span class="text-danger">{{ outofsync_packages }}</span> need attention.</h5>
    <a href="{% url 'settings-packages' %}" class="btn btn-default btn-sx">Details</a>

    <div  style="padding-top:5%">
    <ul class="list-group">
        <li class="list-group-item">
          <span class="i pficon pficon-info"></span>
          Run a <a href="{% url 'jobs-yml-based' %}?template=stringchange">job</a>
            to track translation string change in the package source repository.
        </li>
        <li class="list-group-item">
          <span class="i pficon pficon-info"></span>
          View and create coverage <a href="{% url 'settings-graph-rules' %}">rules</a>
            to get into insights.
        </li>
    </ul>
    </div>
    {% else %}
        <h4 class="text-info" style="padding-top:10%">Data not found.</h4>
    {% endif %}
</div>
