
<h2>Product Release Readiness <small class="text-muted" {% if latest_release %} data-toggle="tooltip" title="{{ latest_release.1 }}" {% endif %}>
    Based on statistics retrieved from the latest built packages.</small></h2>
<div id="map-container" class="map-container"></div>

<script src="/static/d3/d3.min.js"></script>
<script src="/static/topojson/build/topojson.min.js"></script>
<script src="/static/datamaps/dist/datamaps.world.min.js"></script>


<script>
    // example data from server
    var series = {{ territory_stats|safe }};


    // Datamaps expect data in format:
    // { "USA": { "fillColor": "#42a844", numberOfWhatever: 75},
    //   "FRA": { "fillColor": "#8dc386", numberOfWhatever: 43 } }
    var dataset = {};

    // We need to colorize every country based on "numberOfWhatever"
    // colors should be uniq for every value.
    // For this purpose we create palette(using min/max series-value)
    var onlyValues = series.map(function(obj){ return obj[1]; });
    var minValue = Math.min.apply(null, onlyValues),
            maxValue = Math.max.apply(null, onlyValues);

    // create color palette function
    // color can be whatever you wish
    var paletteScale = d3.scale.linear()
            .domain([minValue,maxValue])
            .range(["#F5FFEF","#02662F"]); // green color

    // fill dataset in appropriate format
    series.forEach(function(item){ //
        // item example value ["USA", 70]
        var iso = item[0],
                value = item[1];
        dataset[iso] = { numberOfThings: value, fillColor: paletteScale(value) };
    });

    // render map
    new Datamap({
        element: document.getElementById('map-container'),
        projection: 'mercator', // big world map
        // countries don't listed in dataset will be painted with this color
        fills: { defaultFill: '#F5F5F5' },
        data: dataset,
        geographyConfig: {
            borderColor: '#DEDEDE',
            highlightBorderWidth: 2,
            // don't change color on mouse hover
            highlightFillColor: function(geo) {
                return geo['fillColor'] || '#F5F5F5';
            },
            // only change border
            highlightBorderColor: '#B7B7B7',
            // show desired information in tooltip
            // popupTemplate: function(geo, data) {
                // don't show tooltip if country don't present in dataset
                // if (!data) { return ; }
                // tooltip content
                // return ['<div class="hoverinfo">',
                //    '<strong>', geo.properties.name, '</strong>',
                //    '<br>Count: <strong>', data.numberOfThings, '</strong>',
                //    '</div>'].join('');
            //}
        },
	    done: function(datamap) {
            datamap.svg.selectAll('.datamaps-subunit').on('click', function(geography) {
                var message = geography.properties.name + ' has a country code of ' + geography.id;
                <!--alert(message);-->
                window.location.replace("/territory/view/" + geography.id + "/?name=" + geography.properties.name)
            });
        },
    });
</script>
