<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Package name</th>
      {% for header in headers %}
      <th>{{ header }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for package in packages %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ package.0 }}</td>
      <td>{{ package.1.Total }}&nbsp;
        <span class="text-muted">messages</span>
      </td>
      <td>{{ package.1.Translated }}</td>
      <td>{{ package.1.Untranslated }}</td>
      <td class="text-info">{{ package.1.Remaining|floatformat }}%</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
