<div class="panel-heading">
  <h3 class="panel-title"></h3>
  <span class='text-muted'>Percentage denotes translations completed for a language across packages</span>
</div>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>&nbsp;</th>
      {% for header in headers %}
      <th>{{ header }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for package in packages %}
    <tr>
      <td>{{ package.0 }}</td>
      {% for stat in package.1 %}
      <td>
        {% if stat > 90 %}
        <span class="text-success">{{ stat|floatformat }}%</span>
        {% elif stat > 60 %}
        <span class="text-primary">{{ stat|floatformat }}%</span>
        {% elif stat > 30 %}
        <span class="text-warning">{{ stat|floatformat }}%</span>
        {% else %}
        <span class="text-danger">{{ stat|floatformat }}%</span>
        {% endif %}
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
