{% extends "settings/settings_base.html" %}

{% block extrascript %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#tab-logs').addClass('active');
    })
</script>
{% endblock %}

{% block navigation %}
    <a href="{% url 'home' %}" class="btn btn-default"><i class="glyphicon glyphicon-home"></i></a>
    <a href="{% url 'settings' %}" class="btn btn-default">Settings</a>
    <a href="{% url 'settings-logs' %}" class="btn btn-default">Logs</a>
{% endblock %}

{% block tabcontent %}
<h5>This section would include logs around trans-sync and validation jobs!!</h5>
{% endblock %}
