{% extends "settings/settings_base.html" %}

{% block extrascript %}
{{ block.super }}
<script type="text/javascript">
    $(document).ready(function() {
        $('#tab-trans-platforms').addClass('active');
    })
</script>
{% endblock %}

{% block navigation %}
    <a href="{% url 'home' %}" class="btn btn-default"><i class="glyphicon glyphicon-home"></i></a>
    <a href="{% url 'settings' %}" class="btn btn-default">Settings</a>
    <a href="{% url 'settings-trans-platforms' %}" class="btn btn-default">Translation Platforms</a>
{% endblock %}

{% block tabcontent %}
<div class="row">
    <div class="col-xs-12">
        <span>
            <span class="badge">{{ platforms|length }}</span> platforms
            {% if active_platforms_len %}
                <span class="badge">{{ active_platforms_len }}</span> enabled
            {% endif %}
            {% if inactive_platforms_len %}
                <span class="badge">{{ inactive_platforms_len }}</span> disabled
            {% endif %}
        </span>
        <span class="pull-right">
            <button type="button" class="btn btn-default disabled">Add Server Instance</button>
        </span>
    </div>
</div>
<hr/>
{% if platforms %}
    <div class="row">
    {% for platform in platforms %}
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <div class="caption">
            <h3>{{ platform.engine_name|capfirst }} <small>{{ platform.subject }}</small>
                {% if platform.server_status %}
                    <span class="glyphicon glyphicon-ok-circle" style="color:green"></span>
                {% else %}
                    <span class="glyphicon glyphicon-ban-circle" style="color:orange"></span>
                {% endif %}</h3>
            <p><a href="{{ platform.api_url }}" target="_blank">{{ platform.api_url }}</a>
                <span class="glyphicon glyphicon-link" aria-hidden="true"></span></p>
            <p>
                <a href="#" class="btn btn-default btn-small disabled" role="button">Edit URL</a>
                {% if platform.server_status %}
                    <a href="#" class="btn btn-default btn-small disabled" role="button">Deactivate</a>
                {% else %}
                    <a href="#" class="btn btn-default btn-small disabled" role="button">Activate</a>
                    <a class="btn btn-danger btn-small disabled">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </a>
                {% endif %}
            </p>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
{% else %}
    <p>
        Add server instance of a translation platform to list it here.
    </p>
{% endif %}
{% endblock %}
